Repository alicevision/AliceVision, pull requests merged in 2018-03, with the labels that each got.

#369 FeatureExtraction: don't call CUDA code if no GPU feature is available
  src/software/pipeline/main_featureExtraction.cpp
Labels: in progress

#367 Move image downscale from prepareDenseScene to depthMapEstimation
  src/aliceVision/depthMap/DepthSimMap.cpp
  src/aliceVision/depthMap/RcTc.cpp
  src/aliceVision/depthMap/RefineRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingParams.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRcTc.cpp
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/OctreeTracks.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/fuseCut/VoxelsGrid.cpp
  src/aliceVision/image/CMakeLists.txt
  src/aliceVision/image/io.cpp
  src/aliceVision/image/io.hpp
  src/aliceVision/matching/kvld/CMakeLists.txt
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mesh/MeshEnergyOpt.cpp
  src/aliceVision/mesh/UVAtlas.cpp
  src/aliceVision/mesh/meshPostProcessing.cpp
  src/aliceVision/mvsUtils/ImagesCache.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/mvsUtils/PreMatchCams.cpp
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/mvsUtils/common.hpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/mvsUtils/fileIO.hpp
  src/software/pipeline/main_cameraConnection.cpp
  src/software/pipeline/main_depthMapEstimation.cpp
  src/software/pipeline/main_depthMapFiltering.cpp
  src/software/pipeline/main_meshing.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/pipeline/main_texturing.cpp
Labels: in progress

#365 Fix mesh filtering
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mesh/MeshAnalyze.cpp
  src/aliceVision/mesh/MeshClean.cpp
  src/aliceVision/mesh/MeshEnergyOpt.cpp
  src/aliceVision/mesh/MeshEnergyOpt.hpp
  src/aliceVision/mesh/meshPostProcessing.cpp
  src/software/pipeline/main_meshFiltering.cpp
Labels: in progress

#371 FuseCut: performance improvement
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
Labels: in progress

#373 Fix segfault in Meshing step
  src/aliceVision/mesh/MeshClean.cpp
Labels: in progress

#374 Use a temporary filename when saving a file
  src/aliceVision/feature/CMakeLists.txt
  src/aliceVision/feature/ImageDescriber.cpp
  src/aliceVision/feature/ImageDescriber.hpp
  src/aliceVision/image/CMakeLists.txt
  src/aliceVision/image/io.cpp
  src/aliceVision/imageIO/CMakeLists.txt
  src/aliceVision/imageIO/image.cpp
  src/aliceVision/matching/io.cpp
  src/aliceVision/sfm/sfmDataIO.cpp
Labels: review

#376 [sensor DB] c++11ification
  src/aliceVision/sensorDB/CMakeLists.txt
  src/aliceVision/sensorDB/Datasheet.cpp
  src/aliceVision/sensorDB/Datasheet.hpp
  src/aliceVision/sensorDB/parseDatabase.cpp
Labels: review, type:enhancement
