Repository alicevision/AliceVision, pull requests merged in 2018-11, with the labels that each got.

#523 [cmake] Minor fix for CXX11 test on OSX
  src/cmake/CXX11.cmake
Labels: scope:build

#480 Dev infrastructure
  src/CMakeLists.txt
  src/aliceVision/depthMap/RefineRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.cpp
  src/aliceVision/depthMap/cuda/commonStructures.hpp
  src/aliceVision/depthMap/cuda/planeSweeping/plane_sweeping_cuda.cu
  src/aliceVision/feature/sift/ImageDescriber_SIFT.hpp
  src/aliceVision/mvsData/StaticVector.cpp
  src/aliceVision/mvsData/StaticVector.hpp
  src/aliceVision/mvsUtils/ImagesCache.cpp
  src/aliceVision/mvsUtils/ImagesCache.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/system/CMakeLists.txt
  src/aliceVision/system/Logger.hpp
  src/aliceVision/system/gpu.hpp
  src/aliceVision/system/nvtx.cpp
  src/aliceVision/system/nvtx.hpp
Labels: review, type:bug, type:enhancement

#504 MVS pipeline use SfMData as input
  src/aliceVision/depthMap/DepthSimMap.cpp
  src/aliceVision/depthMap/RefineRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingParams.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.hpp
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/Fuser.hpp
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/OctreeTracks.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/image/io.hpp
  src/aliceVision/imageIO/image.cpp
  src/aliceVision/imageIO/image.hpp
  src/aliceVision/mesh/MeshEnergyOpt.cpp
  src/aliceVision/mesh/meshPostProcessing.cpp
  src/aliceVision/mesh/meshPostProcessing.hpp
  src/aliceVision/mvsData/CMakeLists.txt
  src/aliceVision/mvsData/SeedPoint.hpp
  src/aliceVision/mvsData/SeedPointCams.hpp
  src/aliceVision/mvsData/structures.hpp
  src/aliceVision/mvsUtils/CMakeLists.txt
  src/aliceVision/mvsUtils/ImagesCache.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/mvsUtils/PreMatchCams.cpp
  src/aliceVision/mvsUtils/PreMatchCams.hpp
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/mvsUtils/common.hpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/mvsUtils/fileIO.hpp
  src/software/export/CMakeLists.txt
  src/software/export/main_exportUndistortedImages.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_cameraConnection.cpp
  src/software/pipeline/main_depthMapEstimation.cpp
  src/software/pipeline/main_depthMapFiltering.cpp
  src/software/pipeline/main_meshFiltering.cpp
  src/software/pipeline/main_meshing.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/pipeline/main_texturing.cpp
Labels: refactoring, review, type:enhancement
