Repository alicevision/AliceVision, pull requests merged in 2018-02, with the labels that each got.

#357 [cmake] OpenEXR is a direct dependency
  src/CMakeLists.txt
  src/aliceVision/image/CMakeLists.txt
Labels: in progress, scope:build

#356 Fix doc install
  INSTALL.md
  README.md
  src/cmakeFindModules/FindOpenEXR.cmake
Labels: doc, in progress, scope:doc

#359 Use UID for MVS
  INSTALL.md
  src/software/pipeline/main_prepareDenseScene.cpp
Labels: review

#360 Fix Windows build
  CMakeLists.txt
  src/aliceVision/geometry/rigidTransformation3D.hpp
  src/aliceVision/sensorDB/Datasheet.cpp
  src/aliceVision/sfm/LocalBundleAdjustmentCeres.cpp
  src/aliceVision/sfm/LocalBundleAdjustmentData.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/system/Logger.cpp
Labels: in progress

#362 Uncertainty computation on 3D points and cameras
  CMakeLists.txt
  INSTALL.md
  src/CMakeLists.txt
  src/aliceVision/multiview/resection/p4pfSolver_test.cpp
  src/aliceVision/multiview/resection/p5pfrSolver_test.cpp
  src/aliceVision/robustEstimation/leastMedianOfSquares_test.cpp
  src/aliceVision/sfm/AlembicExporter.cpp
  src/aliceVision/sfm/AlembicExporter.hpp
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/BundleAdjustmentCeres.hpp
  src/aliceVision/sfm/SfMData.hpp
  src/aliceVision/sfm/sfmDataIO.hpp
  src/cmakeFindModules/FindMAGMA.cmake
  src/cmakeFindModules/FindUncertaintyTE.cmake
  src/software/utils/CMakeLists.txt
  src/software/utils/main_computeUncertainty.cpp
Labels: review
