Repository alicevision/AliceVision, pull requests merged in 2018-08, with the labels that each got.

#347 [camera] ensure that the number of distortion params are not changed
  src/aliceVision/camera/Pinhole.hpp
  src/aliceVision/camera/PinholeBrown.hpp
  src/aliceVision/camera/PinholeFisheye.hpp
  src/aliceVision/camera/PinholeFisheye1.hpp
  src/aliceVision/camera/PinholeRadial.hpp
  src/aliceVision/sfm/sfmDataIO_json.cpp
Labels: review

#453 [copying] add geogram, nanoflann and meshsdfilter
  COPYING.md
Labels: doc, review

#454 Texturing visibility remapping and texture fusion
  src/aliceVision/mesh/CMakeLists.txt
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mesh/Mesh.hpp
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mesh/Texturing.hpp
  src/aliceVision/mesh/UVAtlas.cpp
  src/aliceVision/mesh/geoMesh.hpp
  src/aliceVision/mesh/meshVisibility.cpp
  src/aliceVision/mesh/meshVisibility.hpp
  src/aliceVision/mvsData/Pixel.hpp
  src/aliceVision/mvsData/geometry.cpp
  src/aliceVision/mvsUtils/ImagesCache.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/mvsUtils/common.hpp
  src/software/pipeline/main_texturing.cpp
Labels: review

#472 [sfmDataIO] fix missing `Boost_REGEX` build error
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfmDataIO/CMakeLists.txt
Labels: review, scope:build, type:bug

#473 [software] Rename `exportMayaMVG` to `exportMeshroomMaya`
  src/software/export/CMakeLists.txt
  src/software/export/main_exportMeshroomMaya.cpp
Labels: review
