Repository alicevision/AliceVision, pull requests merged in 2018-07, with the labels that each got.

#423 [cmake] 3 bug fixes for cuda installation
  CMakeLists.txt
Labels: scope:build, type:bug

#428 [popsift] Delay call to CUDA code from constructor to first use
  src/aliceVision/feature/sift/ImageDescriber_SIFT_popSIFT.cpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT_popSIFT.hpp
Labels: review

#427 [structure from motion] Add option to lock previously reconstructed scene in augmentation
  src/aliceVision/camera/IntrinsicBase.hpp
  src/aliceVision/localization/VoctreeLocalizer.cpp
  src/aliceVision/localization/optimization.cpp
  src/aliceVision/multiview/resection/resectionLORansac_test.cpp
  src/aliceVision/sfm/AlembicExporter.cpp
  src/aliceVision/sfm/AlembicExporter.hpp
  src/aliceVision/sfm/AlembicImporter.cpp
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/CameraPose.hpp
  src/aliceVision/sfm/FrustumFilter.cpp
  src/aliceVision/sfm/LocalBundleAdjustmentCeres.cpp
  src/aliceVision/sfm/SfMData.cpp
  src/aliceVision/sfm/SfMData.hpp
  src/aliceVision/sfm/alembicIO_test.cpp
  src/aliceVision/sfm/bundleAdjustment_test.cpp
  src/aliceVision/sfm/generateReport.cpp
  src/aliceVision/sfm/pipeline/global/GlobalSfMTranslationAveragingSolver.cpp
  src/aliceVision/sfm/pipeline/global/ReconstructionEngine_globalSfM.cpp
  src/aliceVision/sfm/pipeline/localization/SfMLocalizer.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/structureFromKnownPoses/StructureEstimationFromKnownPoses.cpp
  src/aliceVision/sfm/rig_test.cpp
  src/aliceVision/sfm/sfmDataFilters.cpp
  src/aliceVision/sfm/sfmDataIO_baf.cpp
  src/aliceVision/sfm/sfmDataIO_gt.cpp
  src/aliceVision/sfm/sfmDataIO_json.cpp
  src/aliceVision/sfm/sfmDataIO_json.hpp
  src/aliceVision/sfm/sfmDataIO_ply.cpp
  src/aliceVision/sfm/sfmDataIO_test.cpp
  src/aliceVision/sfm/sfmDataTriangulation.cpp
  src/aliceVision/sfm/utils/alignment.cpp
  src/aliceVision/sfm/utils/alignment.hpp
  src/aliceVision/sfm/utils/statistics.cpp
  src/aliceVision/sfm/utils/syntheticScene.cpp
  src/samples/robustEssentialBA/main_robustEssentialBA.cpp
  src/software/convert/main_convertAnimatedCamera.cpp
  src/software/export/main_exportAnimatedCamera.cpp
  src/software/export/main_exportMVE2.cpp
  src/software/export/main_exportMVSTexturing.cpp
  src/software/export/main_exportMatlab.cpp
  src/software/export/main_exportMeshlab.cpp
  src/software/export/main_exportPMVS.cpp
  src/software/pipeline/main_incrementalSfM.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/pipeline/main_rigCalibration.cpp
  src/software/utils/main_qualityEvaluation.cpp
  src/software/utils/main_rigTransform.cpp
Labels: review

#432 Boost build fixes (Linux)
  src/CMakeLists.txt
  src/aliceVision/sensorDB/CMakeLists.txt
Labels: scope:build, type:bug

#442 [matchingImageCollection] fix clang constness issue
  src/aliceVision/matchingImageCollection/GeometricFilter.hpp
Labels: review, scope:build

#443 [sfm] update view's width and height
  src/aliceVision/sfm/sfmDataIO_json.cpp
Labels: review, type:bug, type:enhancement

#441 Improve software `exportAnimatedCamera`
  src/aliceVision/sfm/AlembicExporter.cpp
  src/aliceVision/sfm/AlembicExporter.hpp
  src/software/convert/CMakeLists.txt
  src/software/convert/main_convertAnimatedCamera.cpp
  src/software/export/main_exportAnimatedCamera.cpp
Labels: review

#452 Add `CUDA_CUBLAS_LIBRARIES` and `CUDA_CUDADEVRT_LIBRARIES` to depthMap module
  src/aliceVision/depthMap/CMakeLists.txt
Labels: prio:blocker, review, type:bug

#446 Improve software CameraInit
  src/aliceVision/camera/cameraCommon.hpp
  src/aliceVision/sensorDB/Datasheet.cpp
  src/aliceVision/sensorDB/Datasheet.hpp
  src/aliceVision/sensorDB/parseDatabase.cpp
  src/aliceVision/sensorDB/parseDatabase_test.cpp
  src/aliceVision/sfm/View.hpp
  src/aliceVision/sfm/viewIO.cpp
  src/aliceVision/sfm/viewIO.hpp
  src/software/pipeline/main_cameraInit.cpp
Labels: review

#457 `Helpers` use `RUNTIME DESTINATION` in `alicevision_add_sofware`
  src/cmake/Helpers.cmake
Labels: review, scope:build, type:bug
