Repository alicevision/AliceVision, pull requests merged in 2018-06, with the labels that each got.

#400 Initial focal length
  src/aliceVision/camera/Pinhole.hpp
  src/aliceVision/sfm/pipeline/sequential/sequentialSfM_test.cpp
  src/aliceVision/sfm/sfmDataIO_json.cpp
  src/aliceVision/sfm/viewIO.cpp
  src/software/pipeline/main_cameraInit.cpp
Labels: review

#406 [doc] INSTALL: precise the option to provide the path to cuda
  INSTALL.md
Labels: doc, review

#408 Fix doc eigen
  INSTALL.md
  src/CMakeLists.txt
Labels: doc, scope:build, scope:doc

#396 [ci] add appveyor for Windows support
  appveyor.yml
  src/CMakeLists.txt
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/track/Track.hpp
  src/cmake/FindOpenEXR.cmake
Labels: review, scope:build, type:enhancement, type:feature, type:pr, windows

#417 [cleanup] Remove unused code with bug inside
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.cpp
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.hpp
  src/aliceVision/depthMap/cuda/planeSweeping/device_code_refine.cu
  src/aliceVision/depthMap/cuda/planeSweeping/plane_sweeping_cuda.cu
Labels: prio:minor, type:bug
