Repository alicevision/AliceVision, pull requests merged in 2019-03, with the labels that each got.

#596 [software] `Texturing` Add support for UDIM UV mapping
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mesh/Texturing.hpp
  src/software/pipeline/main_texturing.cpp
Labels: review, type:enhancement

#603 [depthMap] Add similarity volumes debug export
  src/aliceVision/depthMap/SemiGlobalMatchingRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingVolume.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingVolume.hpp
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
Labels: review

#614 [mvs] make search for undistorted images more robust
  src/aliceVision/mvsData/image.cpp
  src/aliceVision/mvsData/image.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
Labels: prio:minor, type:bug, type:enhancement

#617 BundleAdjustmentCeres should #include alicevision_omp.hpp
  src/aliceVision/sfm/BundleAdjustmentCeres.hpp
Labels: prio:major, scope:build, type:bug
