Repository alicevision/AliceVision, pull requests merged in 2019-10, with the labels that each got.

#704 [doc] INSTALL.md: add boost-timer and lz4 to vcpkg install command
  INSTALL.md
Labels: doc

#705 Workaround for a build incompatibility between prettyprint and eigen
  src/aliceVision/prettyprint.hpp
Labels: scope:build, windows

#707 [sensorDB] add sony IMX
  src/aliceVision/sensorDB/cameraSensors.db
Labels: new device

#699 Added working infos in LG G6 camera sensors
  src/aliceVision/sensorDB/cameraSensors.db
Labels: new device
