Repository alicevision/AliceVision, pull requests merged in 2019-07, with the labels that each got.

#660 Fix texturing
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mesh/Texturing.hpp
Labels: type:enhancement

#659 [sfmDataIO] Alembic: use XForms instead of untyped objects for root n…
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
Labels: type:enhancement

#657 Add CCTag in all-in-one build
  CMakeLists.txt
  Dockerfile
  src/CMakeLists.txt
  src/aliceVision/feature/openCV/ImageDescriber_SIFT_OCV.cpp
  src/cmake/FindOpenImageIO.cmake
Labels: scope:ci

#668 [doc] add cii badge
  README.md
Labels: doc

#665 [software] ConvertSfMFormat: allow regex in image white list
  src/software/convert/main_convertSfMFormat.cpp
Labels: type:enhancement

#669 [fusecut] fix iteration over tcdepthmap in filterGroupsRC
  src/CMakeLists.txt
  src/aliceVision/dataio/VideoFeed.cpp
  src/aliceVision/fuseCut/Fuser.cpp
Labels: bugfix
