Repository alicevision/AliceVision, pull requests merged in 2019-01, with the labels that each got.

#562 [software] `IncrementalSfM` Allow an incomplete initial pair
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.hpp
  src/software/pipeline/main_incrementalSfM.cpp
Labels: review, type:enhancement

#567 Ceres 2 compatibility - again
  src/aliceVision/localization/optimization.cpp
  src/aliceVision/multiview/rotationAveraging/l2.cpp
  src/aliceVision/multiview/translationAveraging/solverL1Soft.cpp
  src/aliceVision/multiview/translationAveraging/solverL2Chordal.cpp
  src/aliceVision/rig/Rig.cpp
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
Labels: type:enhancement

#569 [fuseCut] Fix: check volume size of space bounding box
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/mvsUtils/common.hpp
Labels: review, type:bug

#576 [sfm] `IncrementalSfM` Allow Structure From Motion with known poses
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
Labels: review, type:enhancement

#573 [cmake] missing info message about Popsift
  src/CMakeLists.txt
Labels: scope:build

#571 [fuseCut] Create dense point cloud from depth maps with SfM landmarks
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/software/pipeline/main_meshing.cpp
Labels: review, type:enhancement

#563 [depthMap] Various small enhancements
  src/aliceVision/depthMap/DepthSimMap.cpp
  src/aliceVision/depthMap/RefineRc.cpp
  src/aliceVision/depthMap/RefineRc.hpp
  src/aliceVision/depthMap/SemiGlobalMatchingParams.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingParams.hpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.cpp
  src/aliceVision/depthMap/SemiGlobalMatchingRc.hpp
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.cpp
  src/aliceVision/depthMap/cuda/PlaneSweepingCuda.hpp
  src/aliceVision/depthMap/cuda/commonStructures.hpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/mvsUtils/ImagesCache.cpp
  src/aliceVision/mvsUtils/ImagesCache.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/mvsUtils/fileIO.hpp
  src/software/pipeline/main_depthMapEstimation.cpp
Labels: in progress, type:enhancement

#592 [readme] Add AliceVision banner
  README.md
  docs/logo/AliceVision_banner.png
Labels: review

#591 Add metadata to sim maps
  src/aliceVision/depthMap/DepthSimMap.cpp
  src/aliceVision/fuseCut/Fuser.cpp
Labels: review, type:enhancement
