Repository alicevision/AliceVision, pull requests merged in 2020-01, with the labels that each got.

#713 Add new camera models
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, type:pr

#726 Add 100+ models to sensordb
  src/aliceVision/sensorDB/cameraSensors.db
Labels: type:pr

#711 [system] Logger levels were not case insensitive
  src/aliceVision/system/CMakeLists.txt
  src/aliceVision/system/Logger.cpp
  src/aliceVision/system/Logger.hpp
  src/aliceVision/system/Logger_test.cpp
Labels: bugfix

#677 Dev/texturing retopomesh
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.hpp
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mesh/Mesh.hpp
  src/aliceVision/mesh/MeshAnalyze.cpp
  src/aliceVision/mesh/MeshAnalyze.hpp
  src/aliceVision/mesh/MeshClean.cpp
  src/aliceVision/mesh/MeshClean.hpp
  src/aliceVision/mesh/MeshEnergyOpt.cpp
  src/aliceVision/mesh/MeshEnergyOpt.hpp
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mesh/Texturing.hpp
  src/aliceVision/mesh/UVAtlas.cpp
  src/aliceVision/mesh/UVAtlas.hpp
  src/aliceVision/mesh/geoMesh.hpp
  src/aliceVision/mesh/meshPostProcessing.cpp
  src/aliceVision/mesh/meshPostProcessing.hpp
  src/aliceVision/mesh/meshVisibility.cpp
  src/aliceVision/mesh/meshVisibility.hpp
  src/aliceVision/mvsData/Point3d.hpp
  src/aliceVision/mvsData/StaticVector.hpp
  src/aliceVision/mvsData/geometry.cpp
  src/aliceVision/mvsData/geometry.hpp
  src/aliceVision/mvsData/structures.cpp
  src/aliceVision/mvsData/structures.hpp
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/mvsUtils/common.hpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/software/pipeline/main_meshFiltering.cpp
  src/software/pipeline/main_meshing.cpp
  src/software/pipeline/main_texturing.cpp
Labels: type:pr

#719 [cmake] using modern cmake for boost
  CMakeLists.txt
  ci/env.sh
  src/CMakeLists.txt
  src/aliceVision/calibration/CMakeLists.txt
  src/aliceVision/dataio/CMakeLists.txt
  src/aliceVision/depthMap/CMakeLists.txt
  src/aliceVision/feature/CMakeLists.txt
  src/aliceVision/fuseCut/CMakeLists.txt
  src/aliceVision/hdr/CMakeLists.txt
  src/aliceVision/image/CMakeLists.txt
  src/aliceVision/keyframe/CMakeLists.txt
  src/aliceVision/localization/CMakeLists.txt
  src/aliceVision/matching/CMakeLists.txt
  src/aliceVision/matchingImageCollection/CMakeLists.txt
  src/aliceVision/mesh/CMakeLists.txt
  src/aliceVision/mvsData/CMakeLists.txt
  src/aliceVision/mvsUtils/CMakeLists.txt
  src/aliceVision/numeric/CMakeLists.txt
  src/aliceVision/sensorDB/CMakeLists.txt
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfmData/CMakeLists.txt
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/stl/CMakeLists.txt
  src/aliceVision/system/CMakeLists.txt
  src/aliceVision/voctree/CMakeLists.txt
  src/cmake/AliceVisionConfig.cmake.in
  src/cmake/Helpers.cmake
  src/samples/accv12Demo/CMakeLists.txt
  src/samples/featuresAKAZEDemo/CMakeLists.txt
  src/samples/featuresRepeatability/CMakeLists.txt
  src/samples/imageDescriberMatches/CMakeLists.txt
  src/samples/kvldFilter/CMakeLists.txt
  src/samples/multiBandBlending/CMakeLists.txt
  src/samples/robustEssentialBA/CMakeLists.txt
  src/samples/robustFundamental/CMakeLists.txt
  src/samples/robustHomographyGrowing/CMakeLists.txt
  src/samples/sensorWidthDatabase/CMakeLists.txt
  src/samples/texturing/CMakeLists.txt
  src/samples/undistoBrown/CMakeLists.txt
  src/software/convert/CMakeLists.txt
  src/software/export/CMakeLists.txt
  src/software/pipeline/CMakeLists.txt
  src/software/utils/CMakeLists.txt
Labels: scope:build

#715 Image masking
  INSTALL.md
  src/CMakeLists.txt
  src/aliceVision/CMakeLists.txt
  src/aliceVision/depthMap/cuda/commonStructures.hpp
  src/aliceVision/depthMap/cuda/planeSweeping/device_code_volume.cu
  src/aliceVision/image/Sampler.hpp
  src/aliceVision/image/io.cpp
  src/aliceVision/image/io.hpp
  src/aliceVision/image/pixelTypes.hpp
  src/aliceVision/imageMasking/CMakeLists.txt
  src/aliceVision/imageMasking/eigen2cvHelpers.hpp
  src/aliceVision/imageMasking/imageMasking.cpp
  src/aliceVision/imageMasking/imageMasking.hpp
  src/aliceVision/sensorDB/cameraSensors.db
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/BundleAdjustmentCeres.hpp
  src/aliceVision/sfm/pipeline/RigSequence.cpp
  src/aliceVision/sfm/pipeline/RigSequence.hpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.hpp
  src/aliceVision/sfm/utils/alignment.cpp
  src/aliceVision/sfm/utils/alignment.hpp
  src/aliceVision/sfmData/Rig.hpp
  src/aliceVision/sfmData/SfMData.hpp
  src/aliceVision/sfmData/View.hpp
  src/aliceVision/sfmData/uid.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/stl/regex.hpp
  src/cmake/Helpers.cmake
  src/software/convert/main_convertSfMFormat.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_cameraInit.cpp
  src/software/pipeline/main_featureExtraction.cpp
  src/software/pipeline/main_imageMasking.cpp
  src/software/pipeline/main_incrementalSfM.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_sfmDistances.cpp
  src/software/utils/main_sfmTransfer.cpp
  src/software/utils/main_sfmTransform.cpp
Labels: type:feature
