Repository alicevision/AliceVision, pull requests merged in 2020-08, with the labels that each got.

#851 Fix build against cuda<=11
  src/CMakeLists.txt
Labels: CUDA

#858 Added: Sony;Sony HDR-HC7e;4.98;usercontribution
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#849 [SfM] Major bug fix on BlockOrder in BACeres
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/BundleAdjustmentCeres.hpp
  src/aliceVision/sfm/ResidualErrorFunctor.hpp
Labels: bugfix
