Repository alicevision/AliceVision, pull requests merged in 2020-03, with the labels that each got.

#734 dji updates + cameradb update
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#737 Update camerasensors.db with Sony Xperia XZ2
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#742 Add OnePlus 7T PRO
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#746 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#751 Added a camera
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#759 camera sensors: add pocophone F1
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#761 Fix tracks filtering
  src/aliceVision/sfm/pipeline/global/GlobalSfMTranslationAveragingSolver.cpp
  src/aliceVision/sfm/pipeline/global/ReconstructionEngine_globalSfM.cpp
  src/aliceVision/sfm/pipeline/structureFromKnownPoses/StructureEstimationFromKnownPoses.cpp
  src/aliceVision/track/Track.hpp
  src/aliceVision/track/track_test.cpp
  src/software/export/main_exportTracks.cpp
Labels: bug, bugfix

#760 Minor Changes in the docker build command
  INSTALL.md
Labels: doc, scope:doc

#763 [software] imageProcessing: remove trailing includes
  src/software/utils/main_imageProcessing.cpp
Labels: scope:build

#753 [appveyor] build alicevision snapshot binaries (win)
  appveyor.yml
Labels: ready, review
