Repository alicevision/AliceVision, pull requests merged in 2020-05, with the labels that each got.

#788 [cmake] fix findOpenEXR missing " escapes
  src/cmake/FindOpenEXR.cmake
Labels: bugfix, scope:build

#786 Fix/voctree/unsigned
  src/aliceVision/voctree/Database.cpp
  src/aliceVision/voctree/VocabularyTree.cpp
Labels: bugfix

#784 [build] fix prettyprint MSVC compatibility
  src/aliceVision/prettyprint.hpp
Labels: bugfix, scope:build, windows

#782 [ci] Add github actions CI
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#785 Fixes docker and all-in-one cmake build
  CMakeLists.txt
  Dockerfile
  Dockerfile_deps
  src/CMakeLists.txt
Labels: docker, scope:build

#790 SensorDB new models
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#768 main() wrapper
  src/aliceVision/system/CMakeLists.txt
  src/aliceVision/system/main.hpp
  src/software/convert/main_convertFloatDescriptorToUchar.cpp
  src/software/convert/main_convertLDRToHDR.cpp
  src/software/convert/main_convertRAW.cpp
  src/software/convert/main_convertSfMFormat.cpp
  src/software/export/main_exportAnimatedCamera.cpp
  src/software/export/main_exportCameraFrustums.cpp
  src/software/export/main_exportColoredPointCloud.cpp
  src/software/export/main_exportKeypoints.cpp
  src/software/export/main_exportMVE2.cpp
  src/software/export/main_exportMVSTexturing.cpp
  src/software/export/main_exportMatches.cpp
  src/software/export/main_exportMatlab.cpp
  src/software/export/main_exportMeshlab.cpp
  src/software/export/main_exportMeshroomMaya.cpp
  src/software/export/main_exportPMVS.cpp
  src/software/export/main_exportTracks.cpp
  src/software/pipeline/main_cameraCalibration.cpp
  src/software/pipeline/main_cameraInit.cpp
  src/software/pipeline/main_cameraLocalization.cpp
  src/software/pipeline/main_computeStructureFromKnownPoses.cpp
  src/software/pipeline/main_depthMapEstimation.cpp
  src/software/pipeline/main_depthMapFiltering.cpp
  src/software/pipeline/main_featureExtraction.cpp
  src/software/pipeline/main_featureMatching.cpp
  src/software/pipeline/main_globalSfM.cpp
  src/software/pipeline/main_imageMatching.cpp
  src/software/pipeline/main_incrementalSfM.cpp
  src/software/pipeline/main_meshDecimate.cpp
  src/software/pipeline/main_meshDenoising.cpp
  src/software/pipeline/main_meshFiltering.cpp
  src/software/pipeline/main_meshResampling.cpp
  src/software/pipeline/main_meshing.cpp
  src/software/pipeline/main_panoramaCompositing.cpp
  src/software/pipeline/main_panoramaEstimation.cpp
  src/software/pipeline/main_panoramaExternalInfo.cpp
  src/software/pipeline/main_panoramaWarping.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/pipeline/main_rigCalibration.cpp
  src/software/pipeline/main_rigLocalization.cpp
  src/software/pipeline/main_texturing.cpp
  src/software/utils/main_computeUncertainty.cpp
  src/software/utils/main_fisheyeProjection.cpp
  src/software/utils/main_frustumFiltering.cpp
  src/software/utils/main_imageProcessing.cpp
  src/software/utils/main_keyframeSelection.cpp
  src/software/utils/main_qualityEvaluation.cpp
  src/software/utils/main_rigTransform.cpp
  src/software/utils/main_sfmAlignment.cpp
  src/software/utils/main_sfmColorHarmonize.cpp
  src/software/utils/main_sfmLocalization.cpp
  src/software/utils/main_sfmTransfer.cpp
  src/software/utils/main_sfmTransform.cpp
  src/software/utils/main_split360Images.cpp
  src/software/utils/main_voctreeCreation.cpp
  src/software/utils/main_voctreeQueryUtility.cpp
  src/software/utils/main_voctreeStatistics.cpp
Labels: windows

#796 fixing vs2019 build options
  src/CMakeLists.txt
Labels: scope:build, windows

#774 SfM statistics
  .github/workflows/continuous-integration.yml
  CMakeLists.txt
  src/aliceVision/alicevision_omp.hpp
  src/aliceVision/colorHarmonization/CommonDataByPair.hpp
  src/aliceVision/colorHarmonization/gainOffsetConstraintBuilder_test.cpp
  src/aliceVision/feature/FeaturesPerView.hpp
  src/aliceVision/feature/cctag/ImageDescriber_CCTAG.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/multiview/rotationAveraging/l1.cpp
  src/aliceVision/numeric/numeric.hpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/LocalBundleAdjustmentGraph.cpp
  src/aliceVision/sfm/LocalBundleAdjustmentGraph.hpp
  src/aliceVision/sfm/generateReport.cpp
  src/aliceVision/sfm/pipeline/RigSequence.hpp
  src/aliceVision/sfm/pipeline/global/GlobalSfMRotationAveragingSolver.cpp
  src/aliceVision/sfm/pipeline/global/GlobalSfMTranslationAveragingSolver.cpp
  src/aliceVision/sfm/pipeline/global/GlobalSfMTranslationAveragingSolver.hpp
  src/aliceVision/sfm/pipeline/global/ReconstructionEngine_globalSfM.cpp
  src/aliceVision/sfm/pipeline/panorama/ReconstructionEngine_panorama.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.hpp
  src/aliceVision/sfm/pipeline/structureFromKnownPoses/StructureEstimationFromKnownPoses.cpp
  src/aliceVision/sfm/sfmStatistics.cpp
  src/aliceVision/sfm/sfmStatistics.hpp
  src/aliceVision/track/CMakeLists.txt
  src/aliceVision/track/Track.hpp
  src/aliceVision/track/TracksBuilder.cpp
  src/aliceVision/track/TracksBuilder.hpp
  src/aliceVision/track/track_test.cpp
  src/aliceVision/track/tracksUtils.cpp
  src/aliceVision/track/tracksUtils.hpp
  src/aliceVision/utils/Histogram.hpp
  src/samples/robustEssential/main_robustEssential.cpp
  src/samples/robustFundamental/main_robustFundamental.cpp
  src/samples/robustFundamentalF10/main_robustFundamentalF10.cpp
  src/samples/robustFundamentalGuided/main_robustFundamentalGuided.cpp
  src/samples/robustHomography/main_robustHomography.cpp
  src/samples/robustHomographyGuided/main_robustHomographyGuided.cpp
  src/software/export/main_exportTracks.cpp
  src/software/pipeline/main_incrementalSfM.cpp
  src/software/utils/precisionEvaluationToGt.hpp
  src/software/utils/sfmColorHarmonize/colorHarmonizeEngineGlobal.hpp
Labels: feature
