Repository alicevision/AliceVision, pull requests merged in 2020-04, with the labels that each got.

#766 Add Observation scale in IO
  src/CMakeLists.txt
  src/aliceVision/hdr/DebevecCalibrate.cpp
  src/aliceVision/hdr/DebevecCalibrate.hpp
  src/aliceVision/lightingEstimation/CMakeLists.txt
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_HGrowing.hpp
  src/aliceVision/numeric/CMakeLists.txt
  src/aliceVision/rig/CMakeLists.txt
  src/aliceVision/rig/Rig.hpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.hpp
  src/aliceVision/stl/CMakeLists.txt
  src/aliceVision/types.hpp
  src/aliceVision/voctree/CMakeLists.txt
  src/aliceVision/voctree/distance.hpp
  src/cmake/Helpers.cmake
  src/software/convert/main_convertSfMFormat.cpp
Labels: type:enhancement

#693 [github] Added actions for stale issues
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: doc, type:pr

#770 Remove unused embedded cxsparse
  src/dependencies/cxsparse/CMakeLists.txt
  src/dependencies/cxsparse/Doc/ChangeLog
  src/dependencies/cxsparse/Doc/License.txt
  src/dependencies/cxsparse/Doc/lesser.txt
  src/dependencies/cxsparse/Include/SuiteSparse_config.h
  src/dependencies/cxsparse/Include/cs.h
  src/dependencies/cxsparse/README.md
  src/dependencies/cxsparse/README.txt
  src/dependencies/cxsparse/Source/cs_add.c
  src/dependencies/cxsparse/Source/cs_amd.c
  src/dependencies/cxsparse/Source/cs_chol.c
  src/dependencies/cxsparse/Source/cs_cholsol.c
  src/dependencies/cxsparse/Source/cs_compress.c
  src/dependencies/cxsparse/Source/cs_convert.c
  src/dependencies/cxsparse/Source/cs_counts.c
  src/dependencies/cxsparse/Source/cs_cumsum.c
  src/dependencies/cxsparse/Source/cs_dfs.c
  src/dependencies/cxsparse/Source/cs_dmperm.c
  src/dependencies/cxsparse/Source/cs_droptol.c
  src/dependencies/cxsparse/Source/cs_dropzeros.c
  src/dependencies/cxsparse/Source/cs_dupl.c
  src/dependencies/cxsparse/Source/cs_entry.c
  src/dependencies/cxsparse/Source/cs_ereach.c
  src/dependencies/cxsparse/Source/cs_etree.c
  src/dependencies/cxsparse/Source/cs_fkeep.c
  src/dependencies/cxsparse/Source/cs_gaxpy.c
  src/dependencies/cxsparse/Source/cs_happly.c
  src/dependencies/cxsparse/Source/cs_house.c
  src/dependencies/cxsparse/Source/cs_ipvec.c
  src/dependencies/cxsparse/Source/cs_leaf.c
  src/dependencies/cxsparse/Source/cs_load.c
  src/dependencies/cxsparse/Source/cs_lsolve.c
  src/dependencies/cxsparse/Source/cs_ltsolve.c
  src/dependencies/cxsparse/Source/cs_lu.c
  src/dependencies/cxsparse/Source/cs_lusol.c
  src/dependencies/cxsparse/Source/cs_malloc.c
  src/dependencies/cxsparse/Source/cs_maxtrans.c
  src/dependencies/cxsparse/Source/cs_multiply.c
  src/dependencies/cxsparse/Source/cs_norm.c
  src/dependencies/cxsparse/Source/cs_permute.c
  src/dependencies/cxsparse/Source/cs_pinv.c
  src/dependencies/cxsparse/Source/cs_post.c
  src/dependencies/cxsparse/Source/cs_print.c
  src/dependencies/cxsparse/Source/cs_pvec.c
  src/dependencies/cxsparse/Source/cs_qr.c
  src/dependencies/cxsparse/Source/cs_qrsol.c
  src/dependencies/cxsparse/Source/cs_randperm.c
  src/dependencies/cxsparse/Source/cs_reach.c
  src/dependencies/cxsparse/Source/cs_scatter.c
  src/dependencies/cxsparse/Source/cs_scc.c
  src/dependencies/cxsparse/Source/cs_schol.c
  src/dependencies/cxsparse/Source/cs_spsolve.c
  src/dependencies/cxsparse/Source/cs_sqr.c
  src/dependencies/cxsparse/Source/cs_symperm.c
  src/dependencies/cxsparse/Source/cs_tdfs.c
  src/dependencies/cxsparse/Source/cs_transpose.c
  src/dependencies/cxsparse/Source/cs_updown.c
  src/dependencies/cxsparse/Source/cs_usolve.c
  src/dependencies/cxsparse/Source/cs_util.c
  src/dependencies/cxsparse/Source/cs_utsolve.c
Labels: scope:build

#771 [cmake] missing Boost::boost dependency
  src/aliceVision/calibration/CMakeLists.txt
  src/aliceVision/dataio/CMakeLists.txt
  src/aliceVision/feature/CMakeLists.txt
  src/aliceVision/fuseCut/CMakeLists.txt
  src/aliceVision/image/io.cpp
  src/aliceVision/image/io.hpp
  src/aliceVision/localization/CMakeLists.txt
  src/aliceVision/matching/CMakeLists.txt
  src/aliceVision/mesh/CMakeLists.txt
  src/aliceVision/mvsData/CMakeLists.txt
  src/aliceVision/mvsUtils/CMakeLists.txt
  src/aliceVision/sensorDB/CMakeLists.txt
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfmData/CMakeLists.txt
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/system/CMakeLists.txt
  src/aliceVision/voctree/CMakeLists.txt
Labels: scope:build
