Repository alicevision/AliceVision, pull requests merged in 2020-06, with the labels that each got.

#805 [matching] build fix for MSVC 2019
  src/aliceVision/matching/kvld/algorithm.cpp
  src/aliceVision/matching/kvld/algorithm.h
  src/aliceVision/matching/kvld/kvld.cpp
  src/aliceVision/matching/kvld/kvld.h
Labels: bugfix, windows

#811 update required CMake version
  INSTALL.md
Labels: doc

#810 [Matching] fix unmatching declaration and definitions
  CONTRIBUTING.md
  src/aliceVision/matching/io.cpp
  src/aliceVision/matching/io.hpp
Labels: bugfix

#808 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#807 [bug] fix popsift static release
  src/aliceVision/feature/ImageDescriber.hpp
  src/aliceVision/feature/akaze/ImageDescriber_AKAZE.hpp
  src/aliceVision/feature/cctag/ImageDescriber_CCTAG.cpp
  src/aliceVision/feature/cctag/ImageDescriber_CCTAG.hpp
  src/aliceVision/feature/openCV/ImageDescriber_AKAZE_OCV.hpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT.hpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT_popSIFT.cpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT_popSIFT.hpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT_vlfeat.hpp
  src/aliceVision/feature/sift/ImageDescriber_SIFT_vlfeatFloat.hpp
  src/software/pipeline/main_featureExtraction.cpp
Labels: bugfix

#799 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#798 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#800 [Docker] fix ubuntu dockerfile
  CMakeLists.txt
  Dockerfile_ubuntu
  Dockerfile_ubuntu_deps
Labels: docker

#776 AppVeyor: Build with VS 2019, Cuda 11
  appveyor.yml
  cudaInstallAppveyor.cmd
Labels: scope:build, scope:ci, windows

#823 [cameraInit] Support more extensions and add new viewId generation method
  src/aliceVision/camera/PinholeBrown.hpp
  src/aliceVision/camera/PinholeFisheye.hpp
  src/aliceVision/camera/PinholeFisheye1.hpp
  src/aliceVision/camera/PinholeRadial.hpp
  src/aliceVision/camera/camera.hpp
  src/aliceVision/camera/cameraCommon.hpp
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/bundleAdjustment_test.cpp
  src/aliceVision/sfm/pipeline/global/globalSfM_test.cpp
  src/aliceVision/sfm/pipeline/sequential/sequentialSfM_test.cpp
  src/aliceVision/sfm/utils/syntheticScene.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
  src/aliceVision/sfmDataIO/jsonIO.hpp
  src/aliceVision/sfmDataIO/viewIO.cpp
  src/aliceVision/sfmDataIO/viewIO.hpp
  src/software/pipeline/main_cameraInit.cpp
Labels: feature
