Repository alicevision/AliceVision, pull requests merged in 2020-11, with the labels that each got.

#923 Texturing segfault fix
  src/aliceVision/mesh/Texturing.cpp
Labels: bugfix

#925 [cmake] fix sm86 only for cuda >= 11.1
  CMakeLists.txt
  src/CMakeLists.txt
Labels: CUDA, bugfix, scope:build

#900 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready
