Repository alicevision/AliceVision, pull requests merged in 2021-05, with the labels that each got.

#1042 [matching] fix unsigned index issue in guided matching
  src/aliceVision/matching/guidedMatching.hpp
Labels: type:bug

#1046 [MOD] Added new DJI FC7303 camera to src/aliceVision/sensorDB/cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1047 [software] Some adjustments to export animated camera
  src/software/export/main_exportAnimatedCamera.cpp
Labels: type:enhancement

#1051 GCC11: fix missing <limits> header.
  src/aliceVision/hdr/rgbCurve.cpp
Labels: scope:build
