Repository alicevision/AliceVision, pull requests merged in 2021-07, with the labels that each got.

#1034 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1039 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1054 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1061 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1065 [sw] middlebury import
  src/aliceVision/image/io.cpp
  src/aliceVision/image/io.hpp
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/sfmDataIO/middlebury.cpp
  src/aliceVision/sfmDataIO/middlebury.hpp
  src/aliceVision/sfmDataIO/middlebury_test.cpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_importMiddlebury.cpp
Labels: feature, type:enhancement

#1069 GPS alignment from exif metadata
  src/aliceVision/numeric/CMakeLists.txt
  src/aliceVision/numeric/gps.cpp
  src/aliceVision/numeric/gps.hpp
  src/aliceVision/numeric/gps_test.cpp
  src/aliceVision/sfm/utils/alignment.cpp
  src/aliceVision/sfm/utils/alignment.hpp
  src/aliceVision/sfmData/SfMData.hpp
  src/aliceVision/sfmData/View.cpp
  src/aliceVision/sfmData/View.hpp
  src/aliceVision/sfmData/view_test.cpp
  src/software/utils/main_sfmTransform.cpp
Labels: feature

#1080 [cmake] Move to C++14
  INSTALL.md
  src/CMakeLists.txt
  src/cmake/CXX11.cmake
Labels: scope:build

#950 Integration of AprilTag library
  CMakeLists.txt
  INSTALL.md
  docker/Dockerfile_centos
  src/CMakeLists.txt
  src/aliceVision/feature/CMakeLists.txt
  src/aliceVision/feature/ImageDescriber.cpp
  src/aliceVision/feature/apriltag/ImageDescriber_APRILTAG.cpp
  src/aliceVision/feature/apriltag/ImageDescriber_APRILTAG.hpp
  src/aliceVision/feature/imageDescriberCommon.cpp
  src/aliceVision/feature/imageDescriberCommon.hpp
  src/aliceVision/feature/regionsFactory.hpp
  src/aliceVision/matching/svgVisualization.cpp
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_HGrowing.hpp
  src/aliceVision/sfm/pipeline/ReconstructionEngine.cpp
  src/cmake/AliceVisionConfig.cmake.in
  src/cmake/config.hpp.in
  src/software/utils/main_sfmTransform.cpp
Labels: feature, good first contribution, type:enhancement
