Repository alicevision/AliceVision, pull requests merged in 2022-07, with the labels that each got.

#1179 [ci] upgrade vcpkg version
  .github/workflows/continuous-integration.yml
  INSTALL.md
Labels: scope:ci

#1189 [mvsUtils] Remove trivial boost::filesystem wrappers
  src/aliceVision/depthMap/depthMap.cpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/fuseCut/VoxelsGrid.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/mvsUtils/fileIO.hpp
Labels: type:enhancement

#1190 Remove uses of fscanf
  src/aliceVision/fuseCut/CMakeLists.txt
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/LargeScale_test.cpp
  src/aliceVision/mvsData/Point3d.hpp
  src/aliceVision/mvsData/Voxel.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/mvsUtils/fileIO.hpp
Labels: type:enhancement

#1193 Fix typo: temporay -> temporary
  src/aliceVision/feature/ImageDescriber.cpp
  src/aliceVision/image/io.cpp
  src/aliceVision/mvsData/imageIO.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.cpp
Labels: scope:doc
