Repository alicevision/AliceVision, pull requests merged in 2022-09, with the labels that each got.

#1212 Add support for Xiaomi Redmi K30 Pro Zoom Edition in cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1228 [fuseCut] Pick isnormal() from std namespace
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
Labels: scope:build

#1230 Remove duplicate description of ALICEVISION_USE_OPENMP in INSTALL.md
  INSTALL.md
Labels: scope:doc

#1120 [sensorDB] Add iPhone 11 Pro Max
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1129 [sensorDB] Add some Samsung SM-A*
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1184 [software] Add colmap exporter
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/sfmDataIO/colmap.cpp
  src/aliceVision/sfmDataIO/colmap.hpp
  src/aliceVision/sfmDataIO/colmap_test.cpp
  src/software/export/CMakeLists.txt
  src/software/export/main_exportColmap.cpp
Labels: feature, scope:sfm

#1136 [sensorDB] Add Sony ZV-1
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1187 Avoid unnecessary string copies
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/Fuser.hpp
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/LargeScale.hpp
  src/aliceVision/fuseCut/OctreeTracks.cpp
  src/aliceVision/fuseCut/OctreeTracks.hpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.hpp
  src/aliceVision/fuseCut/VoxelsGrid.cpp
  src/aliceVision/fuseCut/VoxelsGrid.hpp
  src/aliceVision/mvsData/StaticVector.cpp
  src/aliceVision/mvsData/StaticVector.hpp
  src/aliceVision/mvsData/structures.hpp
  src/aliceVision/mvsUtils/common.hpp
  src/software/convert/main_importKnownPoses.cpp
  src/software/utils/precisionEvaluationToGt.hpp
Labels: type:enhancement, in progress, refactoring

#1114 [sensorDB] Update Maker of K-S2 and other DSLRs of Ricoh Imaging
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1171 [sensorDB] Add DJI MAVIC2-ENTERPRISE-ADVANCED
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1149 [sensorDB] Adding Canon PowerShot G5 X Mark II
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1148 [sensorDB] Added the phone Huawei p30 pro
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1143 [sensorDB] Create camera sensor for Galaxy S8 (Model SM-G950W)
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1243 [sensorDB] sort
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1245 [bugfix] fix getColmapCompatibleViews
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/sfmDataIO/colmap.cpp
Labels: type:bug, bug

#1217 [sfm] Reduce code duplication in sequantial sfm triangulation
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
Labels: refactoring
