Repository alicevision/AliceVision, pull requests merged in 2022-08, with the labels that each got.

#1197 [multiview] Fix memory leak in resection test
  src/aliceVision/multiview/resection/resectionLORansac_test.cpp
Labels: scope:test, bug

#1195 Improve test reproducibility
  src/aliceVision/camera/distortion_test.cpp
  src/aliceVision/camera/equidistant_test.cpp
  src/aliceVision/camera/pinhole3DE_test.cpp
  src/aliceVision/camera/pinholeBrown_test.cpp
  src/aliceVision/camera/pinholeFisheye1_test.cpp
  src/aliceVision/camera/pinholeFisheye_test.cpp
  src/aliceVision/camera/pinholeRadial_test.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut_test.cpp
  src/aliceVision/geometry/rigidTransformation3D_test.cpp
  src/aliceVision/lightingEstimation/lightingEstimation_test.cpp
  src/aliceVision/localization/LocalizationResult_test.cpp
  src/aliceVision/localization/rigResection_test.cpp
  src/aliceVision/matchingImageCollection/geometricFilterUtils_test.cpp
  src/aliceVision/multiview/relativePose/essential5PSolver_test.cpp
  src/aliceVision/multiview/resection/resectionKernel_test.cpp
  src/aliceVision/multiview/rotationAveraging/rotationAveraging_test.cpp
  src/aliceVision/multiview/translationAveraging/translationAveraging_test.cpp
  src/aliceVision/multiview/triangulation/triangulation_test.cpp
  src/aliceVision/numeric/numeric.cpp
  src/aliceVision/numeric/numeric.hpp
  src/aliceVision/sfm/pipeline/global/globalSfM_test.cpp
  src/aliceVision/sfmDataIO/alembicIO_test.cpp
  src/aliceVision/voctree/kmeans_test.cpp
  src/aliceVision/voctree/vocabularyTreeBuild_test.cpp
Labels: scope:test, type:enhancement

#1201 [sensorDB] Add DJI Mavic3
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb
