Repository alicevision/AliceVision, pull requests merged in 2022-10, with the labels that each got.

#1253 (trivial) Avoid repeated calls to std::min() or std::max()
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/OctreeTracks.cpp
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/common.cpp
Labels: type:enhancement

#1254 Fix wrong integer division where rounding up was intended
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/numeric/numeric.hpp
  src/aliceVision/numeric/numeric_test.cpp
Labels: bugfix

#1258 [dep] add PCL as dependency
  .github/workflows/continuous-integration.yml
  CMakeLists.txt
  INSTALL.md
Labels: scope:build

#1241 [cmake] Fixes to build on Silicon
  CMakeLists.txt
Labels: scope:build, OSX

#1246 Add OnePlus 8 Pro to the sensor database
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1278 [sfmDataIO] Missing fstream include
  src/aliceVision/sfmDataIO/colmap.cpp
Labels: scope:build

#1274 (trivial) Cleanup std::pow usages
  src/aliceVision/mvsUtils/common.cpp
  src/aliceVision/sfm/pipeline/global/ReconstructionEngine_globalSfM.cpp
  src/aliceVision/sfm/pipeline/panorama/ReconstructionEngine_panorama.cpp
Labels: type:enhancement

#1277 Optimize voctree build by up to 40 times for certain problems
  src/aliceVision/voctree/SimpleKmeans.hpp
Labels: type:enhancement, bugfix

#1276 Resurrect hdr test
  src/aliceVision/hdr/CMakeLists.txt
  src/aliceVision/hdr/hdrDebevec_test.cpp
  src/aliceVision/hdr/hdrGrossberg_test.cpp
  src/aliceVision/hdr/hdrLaguerre_test.cpp
  src/aliceVision/hdr/hdrTestCommon.hpp
  src/aliceVision/hdr/hdr_test.cpp
Labels: scope:test

#1288 (trivial) Extract removePoorlyOverlappingImagePairs()
  src/aliceVision/matchingImageCollection/CMakeLists.txt
  src/aliceVision/matchingImageCollection/GeometricFilter.cpp
  src/aliceVision/matchingImageCollection/GeometricFilter.hpp
  src/software/pipeline/main_featureMatching.cpp
Labels: refactoring
