Repository alicevision/AliceVision, pull requests merged in 2023-06, with the labels that each got.

#1446 Fix .clang-format after updating CXX standard
  .clang-format
Labels: bugfix

#1444 Add Google Pixel 7/7 Pro main camera to cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1443 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1451 [doc] INSTALL.md: remove geogram broken link
  INSTALL.md
Labels: bugfix

#1456 [sfmDataIO] Alembic Import: initialize intrinsics properly
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
Labels: bugfix

#1458 [ci] Update docker image for dependencies to fix runtime issue in CI
  .github/workflows/continuous-integration.yml
  CMakeLists.txt
  docker/build-centos.sh
  src/CMakeLists.txt
Labels: scope:build

#1461 Debug in camera object
  src/aliceVision/camera/Equidistant.hpp
  src/aliceVision/camera/EquidistantRadial.hpp
  src/aliceVision/camera/IntrinsicBase.hpp
  src/aliceVision/camera/IntrinsicsScaleOffset.hpp
  src/aliceVision/camera/IntrinsicsScaleOffsetDisto.hpp
  src/aliceVision/camera/Pinhole.hpp
  src/software/pipeline/main_panoramaInit.cpp
Labels: bugfix

#1462 Panorama was using too much memory for no reason
  src/software/pipeline/main_panoramaCompositing.cpp
Labels: scope:panorama, bugfix

#1467 [mvsUtils] fix writing metadata for filtered depthmaps
  src/aliceVision/mvsUtils/mapIO.cpp
Labels: scope:mvs, bugfix

#1470 [docker] Download, copy and export the sphere detection model
  docker/Dockerfile_centos_deps
  docker/Dockerfile_ubuntu_deps
  docker/fetch.sh
Labels: scope:build

#1475 CameraPose lock was not correctly loaded
  src/aliceVision/sfmData/SfMData.cpp
Labels: bugfix

#1476 image segmentation module
  src/aliceVision/CMakeLists.txt
  src/aliceVision/feature/FeatureExtractor.cpp
  src/aliceVision/feature/FeatureExtractor.hpp
  src/aliceVision/image/imageAlgo.cpp
  src/aliceVision/image/imageAlgo.hpp
  src/aliceVision/image/pixelTypes.hpp
  src/aliceVision/segmentation/CMakeLists.txt
  src/aliceVision/segmentation/segmentation.cpp
  src/aliceVision/segmentation/segmentation.hpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_featureExtraction.cpp
  src/software/pipeline/main_imageSegmentation.cpp
Labels: feature, CUDA, ONNX

#1480 [segmentation] fix windows build
  src/aliceVision/segmentation/segmentation.cpp
Labels: scope:build, windows, bugfix
