Repository alicevision/AliceVision, pull requests merged in 2023-11, with the labels that each got.

#1587 Remove lemon from public links
  src/aliceVision/graph/CMakeLists.txt
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/track/CMakeLists.txt
  src/software/utils/CMakeLists.txt
Labels: scope:build

#1584 camera Lock is correctly casted to int in json
  src/aliceVision/sfmDataIO/jsonIO.hpp
Labels: bugfix

#1592 Sequential SfM: Replayable initial pair
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
Labels: bugfix

#1600 Run CI on draft pull requests
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1602 [sfm] Sequential ReconstructionEngine: Use SfM Params' `nbFirstUnstableCameras` instead of a constant
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
Labels: bugfix

#1606 [sfmData] Add const accessor for getView
  src/aliceVision/sfmData/SfMData.hpp
Labels: bugfix

#1609 fix applyCalibration
  src/software/utils/main_applyCalibration.cpp
Labels: bugfix

#1613 Fix errors on sfm with applyCalibration
  src/aliceVision/camera/IntrinsicScaleOffsetDisto.cpp
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
Labels: bugfix
