Repository alicevision/AliceVision, pull requests merged in 2023-05, with the labels that each got.

#1413 SfM: Expose new parameters to the command line
  src/aliceVision/sfm/pipeline/pairwiseMatchesIO.hpp
  src/aliceVision/sfm/pipeline/regionsIO.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.hpp
  src/software/pipeline/main_incrementalSfM.cpp
Labels: feature

#1422 Fix command line parsing for executables that used the old one
  src/samples/CMakeLists.txt
  src/samples/accv12Demo/ACCVPattern.jpg
  src/samples/accv12Demo/CMakeLists.txt
  src/samples/accv12Demo/main_openCVFitting.cpp
  src/samples/featuresAKAZEDemo/CMakeLists.txt
  src/samples/featuresAKAZEDemo/main_computeAKAZE.cpp
  src/samples/featuresAKAZEDemo/main_demoAKAZE
  src/samples/featuresRepeatability/CMakeLists.txt
  src/samples/featuresRepeatability/main_repeatabilityDataset.cpp
  src/samples/imageDescriberMatches/CMakeLists.txt
  src/samples/imageDescriberMatches/main_describeAndMatch.cpp
  src/samples/kvldFilter/main_kvldFilter.cpp
  src/samples/multiBandBlending/CMakeLists.txt
  src/samples/multiBandBlending/main_multibandtest.cpp
  src/samples/robustEssential/main_robustEssential.cpp
  src/samples/robustEssentialBA/main_robustEssentialBA.cpp
  src/samples/robustEssentialSpherical/main_robustEssentialSpherical.cpp
  src/samples/robustEssentialSpherical/sphericalCam.hpp
  src/samples/robustFundamental/CMakeLists.txt
  src/samples/robustFundamental/main_robustFundamental.cpp
  src/samples/robustFundamentalF10/CMakeLists.txt
  src/samples/robustFundamentalF10/main_robustFundamentalF10.cpp
  src/samples/robustFundamentalGuided/main_robustFundamentalGuided.cpp
  src/samples/robustHomography/main_robustHomography.cpp
  src/samples/robustHomographyGrowing/CMakeLists.txt
  src/samples/robustHomographyGrowing/main_robustHomographyGrowing.cpp
  src/samples/robustHomographyGuided/main_robustHomographyGuided.cpp
  src/samples/sensorWidthDatabase/CMakeLists.txt
  src/samples/sensorWidthDatabase/main_parseDatabase.cpp
  src/samples/siftPutativeMatches/main_siftMatching.cpp
  src/samples/texturing/CMakeLists.txt
  src/samples/texturing/main_evcorrection.cpp
  src/samples/undistoBrown/CMakeLists.txt
  src/samples/undistoBrown/main_undistoBrown.cpp
  src/software/pipeline/main_cameraCalibration.cpp
  src/software/utils/main_voctreeQueryUtility.cpp
Labels: bugfix

#1429 Fix small compilation issue in trackIO on Windows
  src/aliceVision/track/trackIO.cpp
Labels: bugfix

#1430 [pipeline] cameraInit: fix rigHasUniqueFrameIds
  src/software/pipeline/main_cameraInit.cpp
Labels: bugfix

#1442 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb
