Repository alicevision/AliceVision, pull requests merged in 2023-10, with the labels that each got.

#1559 [sfmDataIO] restore focal ratio support
  src/aliceVision/sfmDataIO/viewIO.cpp
Labels: prio:major, bugfix

#1564 [docker] Dependencies: Remove duplicated `gcc` install
  .github/workflows/continuous-integration.yml
  docker/Dockerfile_centos_deps
  docker/build-centos.sh
  docker/build-ubuntu.sh
Labels: prio:minor, scope:build, scope:ci

#1561 [ci] Update vcpkg archive with boost-geometry and liblemon
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1535 [ci] Update functional tests
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1524 [software] new intrinsics calibration software
  BIBLIOGRAPHY.md
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_checkerboardCalibration.cpp
  src/software/utils/main_applyCalibration.cpp
Labels: feature

#1565 [sfmDataIO] Fix unhandled exception when parsing images with large numbers in the filenames
  src/aliceVision/sfmDataIO/viewIO.cpp
Labels: bugfix

#1569 [depthMap] DepthMapEstimator: Correctly limit the number of simultaneous RCs
  src/aliceVision/depthMap/DepthMapEstimator.cpp
  src/aliceVision/depthMap/DepthMapEstimator.hpp
Labels: bugfix

#1568 Nodes for panorama to sfm
  src/software/utils/CMakeLists.txt
  src/software/utils/main_sfmMerge.cpp
  src/software/utils/main_sfmToRig.cpp
Labels: feature

#1573 Cleaning up ACRansac
  src/aliceVision/geometry/rigidTransformation3D.hpp
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_F_AC.hpp
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_H_AC.hpp
  src/aliceVision/multiview/AngularRadianErrorKernel.hpp
  src/aliceVision/multiview/CMakeLists.txt
  src/aliceVision/multiview/RelativePoseKernel.hpp
  src/aliceVision/multiview/ResectionKernel.hpp
  src/aliceVision/multiview/resection/ResectionKernel.hpp
  src/aliceVision/multiview/triangulation/NViewsTriangulationLORansac.hpp
  src/aliceVision/robustEstimation/ACRansac.hpp
  src/aliceVision/robustEstimation/IRansacKernel.hpp
  src/aliceVision/robustEstimation/LineKernel.hpp
  src/aliceVision/robustEstimation/PointFittingRansacKernel.hpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/pipeline/global/GlobalSfMTranslationAveragingSolver.cpp
  src/aliceVision/sfm/pipeline/global/ReconstructionEngine_globalSfM.cpp
  src/aliceVision/sfm/pipeline/global/TranslationTripletKernelACRansac.hpp
  src/aliceVision/sfm/pipeline/localization/SfMLocalizationSingle3DTrackObservationDatabase.cpp
  src/aliceVision/sfm/pipeline/localization/SfMLocalizationSingle3DTrackObservationDatabase.hpp
  src/aliceVision/sfm/pipeline/localization/SfMLocalizer.cpp
  src/aliceVision/sfm/pipeline/localization/SfMLocalizer.hpp
  src/aliceVision/sfm/pipeline/panorama/ReconstructionEngine_panorama.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.hpp
  src/aliceVision/sfm/sfm.hpp
  src/software/pipeline/main_relativePoseEstimating.cpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_sfmLocalization.cpp
Labels: refactoring

#1538 [fuseCut] Fix export debug mesh
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
Labels: bugfix

#1570 Clean dependencies in CMakeLists
  .github/workflows/continuous-integration.yml
  CMakeLists.txt
  docker/Dockerfile_centos_deps
  docker/Dockerfile_ubuntu_deps
  docker/build-centos.sh
  docker/build-ubuntu.sh
  src/cmake/Dependencies.cmake
  src/cmake/openexr/FindOpenEXR.cmake
Labels: scope:build, type:enhancement, refactoring, dependencies

#1579 [keyframe] fix intrinsics UID
  src/aliceVision/keyframe/KeyframeSelector.cpp
Labels: bugfix

#1581 Fix: Add missing 3DEAnamorphic4 camera type
  src/aliceVision/camera/Pinhole.cpp
  src/aliceVision/camera/camera.hpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
Labels: bugfix

#1572 Bugfix when checking raw format
  src/aliceVision/image/io.cpp
  src/aliceVision/image/io.hpp
  src/software/pipeline/main_LdrToHdrCalibration.cpp
  src/software/pipeline/main_LdrToHdrMerge.cpp
  src/software/pipeline/main_LdrToHdrSampling.cpp
  src/software/pipeline/main_cameraInit.cpp
  src/software/utils/main_imageProcessing.cpp
Labels: bugfix
