Repository alicevision/AliceVision, pull requests merged in 2023-09, with the labels that each got.

#1522 [sfmDataIO] getViewIntrinsics corrections
  src/aliceVision/sfmDataIO/viewIO.cpp
  src/aliceVision/sfmDataIO/viewIO.hpp
Labels: bugfix

#1359 Added Zed2i StereoLabs Zed2i sensor info
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1528 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1463 Fixes for osx
  CMakeLists.txt
  src/aliceVision/image/io.cpp
Labels: scope:build, OSX

#1529 [sfmDataIO] remove declared/referenced poses validation
  src/aliceVision/sfmDataIO/sfmDataIO.cpp
Labels: bugfix

#1537 [ci] Windows: Stop building modules that are not tested
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1543 [software] imageSegmentation: read images in sRGB colorspace
  src/software/pipeline/main_imageSegmentation.cpp
Labels: bugfix

#1546 Automatically align the sfm result
  src/software/pipeline/main_incrementalSfM.cpp
Labels: feature

#1548 New pipeline for pure rotation tracking
  INSTALL.md
  src/aliceVision/sfm/bundle/BundleAdjustment.hpp
  src/aliceVision/sfm/bundle/BundleAdjustmentSymbolicCeres.cpp
  src/aliceVision/sfm/bundle/manifolds/so3vec.hpp
  src/aliceVision/sfm/pipeline/relativePoses.hpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_nodalSfM.cpp
  src/software/pipeline/main_relativePoseEstimating.cpp
  src/software/pipeline/main_sfmBootstraping.cpp
Labels: feature, scope:sfm

#1540 [docker] Add Python in the Docker image of the dependencies
  .github/workflows/continuous-integration.yml
  docker/Dockerfile_centos_deps
  docker/build-centos.sh
  docker/build-ubuntu.sh
Labels: scope:ci

#1552 [build][windows] fix for OpenMP error causing build issue on Windows
  src/aliceVision/sfmDataIO/jsonIO.cpp
Labels: windows, bugfix

#1553 [CI] Don't run CI on draft PR
  .github/workflows/continuous-integration.yml
Labels: prio:minor

#1557 [software] LdrToHdrMerge: fix bug introduced in PR 1536
  src/software/pipeline/main_LdrToHdrMerge.cpp
Labels: prio:blocker, bugfix
