Repository alicevision/AliceVision, pull requests merged in 2023-04, with the labels that each got.

#1407 [cmake] housekeeping
  src/CMakeLists.txt
  src/cmake/compatibilityCUDA/FindCUDA.cmake
  src/cmake/compatibilityCUDA/FindCUDA/make2cmake.cmake
  src/cmake/compatibilityCUDA/FindCUDA/parse_cubin.cmake
  src/cmake/compatibilityCUDA/FindCUDA/run_nvcc.cmake
  src/cmake/compatibilityCUDA/FindCUDA/select_compute_arch.cmake
Labels: scope:build

#1331 [calibration] Checkerboard detection
  BIBLIOGRAPHY.md
  src/CMakeLists.txt
  src/aliceVision/calibration/CMakeLists.txt
  src/aliceVision/calibration/checkerDetector.cpp
  src/aliceVision/calibration/checkerDetector.hpp
  src/aliceVision/calibration/checkerDetector_io.cpp
  src/aliceVision/calibration/checkerDetector_io.hpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_checkerboardDetection.cpp
Labels: type:enhancement

#1421 [doc] RELEASING: Add example command to generate the release note
  RELEASING.md
Labels: scope:doc
