Repository alicevision/AliceVision, pull requests merged in 2023-07, with the labels that each got.

#1483 [ci] Update GitHub actions for the Continuous Integration on Windows
  .github/workflows/continuous-integration.yml
  .github/workflows/stale.yml
Labels: scope:ci

#1482 [docker] Update version of the AV dependencies image
  .github/workflows/continuous-integration.yml
  docker/build-centos.sh
  docker/build-ubuntu.sh
Labels: scope:build, scope:ci

#1448 Support pixel aspect ratio
  src/aliceVision/CMakeLists.txt
  src/aliceVision/camera/IntrinsicsScaleOffsetDisto.hpp
  src/aliceVision/camera/Pinhole.cpp
  src/aliceVision/camera/Pinhole.hpp
  src/aliceVision/feature/CMakeLists.txt
  src/aliceVision/featureEngine/CMakeLists.txt
  src/aliceVision/featureEngine/FeatureExtractor.cpp
  src/aliceVision/featureEngine/FeatureExtractor.hpp
  src/aliceVision/image/imageAlgo.cpp
  src/aliceVision/image/imageAlgo.hpp
  src/aliceVision/sfm/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.hpp
  src/aliceVision/sfmDataIO/viewIO.cpp
  src/software/export/main_exportDistortion.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_checkerboardDetection.cpp
  src/software/pipeline/main_featureExtraction.cpp
  src/software/pipeline/main_imageSegmentation.cpp
Labels: feature

#1469 Noise reduction in HDR merging
  src/aliceVision/hdr/brackets.cpp
  src/aliceVision/hdr/brackets.hpp
  src/aliceVision/hdr/hdrMerge.cpp
  src/aliceVision/hdr/hdrMerge.hpp
  src/software/pipeline/main_LdrToHdrMerge.cpp
Labels: type:enhancement

#1484 Enable multiple calibrations on hdr
  src/aliceVision/hdr/brackets.cpp
  src/software/pipeline/main_LdrToHdrCalibration.cpp
  src/software/pipeline/main_LdrToHdrMerge.cpp
  src/software/pipeline/main_LdrToHdrSampling.cpp
Labels: type:enhancement

#1485 [segmentation] fix crash when resized image is too small
  src/aliceVision/segmentation/segmentation.cpp
Labels: bugfix

#1487 [doc] INSTALL.md: Fix typo in "nonfree" module for OpenCV in vcpkg install
  INSTALL.md
Labels: scope:doc

#1496 [software] panoramaPostProcessing: export downscaled panorama levels
  src/software/pipeline/main_panoramaPostProcessing.cpp
Labels: type:enhancement, scope:panorama
