Repository alicevision/AliceVision, pull requests merged in 2023-12, with the labels that each got.

#1615 fix sfm with undistortion
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
Labels: bugfix

#1617 [mesh] Texturing fix: specify a name for the materials to avoid issues in Maya
  src/aliceVision/mesh/Texturing.cpp
Labels: bugfix

#1612 Release 3.2.0
  CHANGES.md
  RELEASING.md
  src/aliceVision/version.hpp
Labels: release

#1619 Start Development 3.3.0
  src/aliceVision/version.hpp
Labels: release

#1614 [doc] Fix RTD build + other fixes/improvement of the doc
  docs/sphinx/conf.py
  src/aliceVision/camera/README.md
  src/aliceVision/geometry/README.md
  src/aliceVision/image/README.md
  src/aliceVision/linearProgramming/README.md
  src/aliceVision/multiview/README.md
  src/aliceVision/track/README.md
Labels: scope:doc

#1589 [cmake] AllInOne: update to suitesparse-7.3, ceres-2.2
  src/cmake/Dependencies.cmake
Labels: scope:build, deploying, dependencies

#1629 [image] io: Rely on OIIO to determine if an image file exists or not
  src/aliceVision/image/io.cpp
Labels: bugfix
