Repository alicevision/AliceVision, pull requests merged in 2023-02, with the labels that each got.

#1349 [cmake] fix for `ALICEVISION_HAVE_OPENCV_CONTRIB`
  src/CMakeLists.txt
Labels: scope:build, type:bug, bugfix

#1350 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready

#1352 [cmake] cannot have opencv contrib without opencv
  src/CMakeLists.txt
Labels: scope:build
