Repository alicevision/AliceVision, pull requests merged in 2024-12, with the labels that each got.

#1785 CI: Move from CentOS to Ubuntu for Linux
  .github/workflows/continuous-integration.yml
  docker/build-ubuntu.sh
  src/CMakeLists.txt
  src/cmake/Dependencies.cmake
  src/cmake/Helpers.cmake
Labels: scope:ci

#1784 Build OpenCV with FFmpeg on Linux
  src/cmake/Dependencies.cmake
Labels: docker, dependencies

#1787 Colorizing node
  src/software/utils/CMakeLists.txt
  src/software/utils/main_sfmColorizing.cpp
Labels: feature

#1769 [sfm] New sfmFilter software: split sfm based on filenames regex
  src/aliceVision/sfm/utils/alignment.hpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_sfmFilter.cpp
  src/software/utils/main_sfmTransfer.cpp
Labels: feature

#1771 Update cameraSensors.db Sony ILCE-6700
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1753 Update cameraSensors.db DJI Mini3Pro
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1763 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb
