Repository alicevision/AliceVision, pull requests merged in 2024-04, with the labels that each got.

#1701 fix camera pose lock I/O
  src/aliceVision/sfmDataIO/jsonIO.hpp
  src/aliceVision/sfmDataIO/sfmDataIO_test.cpp
Labels: bugfix

#1703 Update boost and oiio dependencies
  .github/workflows/continuous-integration.yml
  INSTALL.md
  docker/build-centos.sh
  docker/build-ubuntu.sh
  src/CMakeLists.txt
  src/aliceVision/image/io.hpp
  src/cmake/Dependencies.cmake
Labels: scope:build

#1708 Lidar decimation and merging
  src/aliceVision/fuseCut/InputSet.cpp
  src/aliceVision/fuseCut/InputSet.hpp
  src/aliceVision/geometry/Intersection.cpp
  src/aliceVision/geometry/Intersection.hpp
  src/aliceVision/mesh/CMakeLists.txt
  src/aliceVision/mesh/ModBoundingBoxT.hpp
  src/aliceVision/mesh/ModQuadricMetricT.cpp
  src/aliceVision/mesh/ModQuadricMetricT.hpp
  src/aliceVision/mesh/QuadricMetricT.hpp
  src/software/convert/main_importE57.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_lidarDecimating.cpp
  src/software/pipeline/main_lidarMerging.cpp
  src/software/pipeline/main_lidarMeshing.cpp
Labels: feature

#1704 Add condition to check dependency MeshSDFilter folder
  src/CMakeLists.txt
Labels: scope:build
