Repository alicevision/AliceVision, pull requests merged in 2024-01, with the labels that each got.

#1633 Add Bundle Adjustment unit tests
  src/aliceVision/camera/DistortionBrown.cpp
  src/aliceVision/camera/DistortionBrown.hpp
  src/aliceVision/camera/DistortionFisheye1.cpp
  src/aliceVision/camera/DistortionFisheye1.hpp
  src/aliceVision/camera/DistortionRadial.cpp
  src/aliceVision/camera/Equidistant.cpp
  src/aliceVision/camera/Equidistant.hpp
  src/aliceVision/geometry/CMakeLists.txt
  src/aliceVision/geometry/Intersection.cpp
  src/aliceVision/geometry/Intersection.hpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/bundle/bundleAdjustment_Enhanced_test.cpp
  src/aliceVision/sfm/bundle/costfunctions/projectionSimple.hpp
Labels: type:enhancement

#1634 [ci] Update link to the VCPKG archive for the Windows CI
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1635 Typo in bundle adjustment unit test
  src/aliceVision/sfm/bundle/bundleAdjustment_Enhanced_test.cpp
Labels: bugfix

#1623 [docker] Fix the build of Docker images for Ubuntu
  docker/Dockerfile_ubuntu
  docker/Dockerfile_ubuntu_deps
  docker/build-ubuntu.sh
Labels: scope:build, bugfix

#1638 Remove specifics required by Eigen prior to C++17
  src/aliceVision/geometry/Pose3.hpp
  src/aliceVision/image/convolution.hpp
  src/aliceVision/sfmData/CameraPose.hpp
  src/aliceVision/types.hpp
  src/aliceVision/voctree/MutableVocabularyTree.hpp
  src/aliceVision/voctree/SimpleKmeans.hpp
  src/aliceVision/voctree/TreeBuilder.hpp
  src/aliceVision/voctree/VocabularyTree.hpp
  src/aliceVision/voctree/kmeans_test.cpp
  src/aliceVision/voctree/vocabularyTreeBuild_test.cpp
Labels: type:enhancement

#1648 [sfmData] Rename functions and files to respect case rules
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_E_AC.hpp
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/bundle/BundleAdjustmentSymbolicCeres.cpp
  src/aliceVision/sfm/pipeline/panorama/ReconstructionEngine_panorama.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfmData/CMakeLists.txt
  src/aliceVision/sfmData/ExposureSetting.hpp
  src/aliceVision/sfmData/ImageInfo.cpp
  src/aliceVision/sfmData/ImageInfo.hpp
  src/aliceVision/sfmData/SfMData.hpp
  src/aliceVision/sfmData/View.hpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/software/convert/main_importKnownPoses.cpp
  src/software/export/main_exportMeshroomMaya.cpp
  src/software/pipeline/main_nodalSfM.cpp
  src/software/pipeline/main_panoramaWarping.cpp
  src/software/pipeline/main_relativePoseEstimating.cpp
  src/software/pipeline/main_sfmBootstraping.cpp
Labels: type:enhancement

#1650 Remove all remaining references to Boost-Filesystem
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/imageMasking/CMakeLists.txt
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/sphereDetection/sphereDetection.cpp
  src/aliceVision/voctree/databaseIO.tcc
  src/cmake/Dependencies.cmake
  src/software/pipeline/main_depthMapEstimation.cpp
  src/software/pipeline/main_depthMapFiltering.cpp
Labels: type:enhancement

#1651 [cmake] Dependencies: Update zlib version to 1.3.1
  src/cmake/Dependencies.cmake
Labels: scope:build

#1652 Add E57 importer
  src/CMakeLists.txt
  src/aliceVision/dataio/CMakeLists.txt
  src/aliceVision/dataio/E57Reader.cpp
  src/aliceVision/dataio/E57Reader.hpp
  src/software/convert/CMakeLists.txt
  src/software/convert/main_importE57.cpp
Labels: feature
