Repository alicevision/AliceVision, pull requests merged in 2024-09, with the labels that each got.

#1739 Missing include fstream
  src/software/utils/main_applyCalibration.cpp
Labels: bugfix

#1740 [software] PanoramaSeams: Check that the input is not empty
  src/software/pipeline/main_panoramaSeams.cpp
Labels: bugfix

#1590 [Photometric Stereo] MultiView fusion in Texturing
  src/CMakeLists.txt
  src/aliceVision/CMakeLists.txt
  src/aliceVision/fuseCut/DelaunayGraphCut_test.cpp
  src/aliceVision/lightingEstimation/CMakeLists.txt
  src/aliceVision/lightingEstimation/augmentedNormals.hpp
  src/aliceVision/lightingEstimation/ellipseGeometry.cpp
  src/aliceVision/lightingEstimation/ellipseGeometry.hpp
  src/aliceVision/lightingEstimation/lightingCalibration.cpp
  src/aliceVision/lightingEstimation/lightingCalibration.hpp
  src/aliceVision/lightingEstimation/lightingEstimation.cpp
  src/aliceVision/mesh/Texturing.cpp
  src/aliceVision/mesh/Texturing.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/MultiViewParams.hpp
  src/aliceVision/mvsUtils/fileIO.cpp
  src/aliceVision/photometricStereo/normalIntegration.cpp
  src/aliceVision/photometricStereo/photometricDataIO.cpp
  src/aliceVision/photometricStereo/photometricDataIO.hpp
  src/aliceVision/photometricStereo/photometricStereo.cpp
  src/aliceVision/photometricStereo/photometricStereo.hpp
  src/aliceVision/sphereDetection/sphereDetection.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_cameraInit.cpp
  src/software/pipeline/main_depthMapEstimation.cpp
  src/software/pipeline/main_depthMapFiltering.cpp
  src/software/pipeline/main_lidarMeshing.cpp
  src/software/pipeline/main_lightingCalibration.cpp
  src/software/pipeline/main_meshing.cpp
  src/software/pipeline/main_photometricStereo.cpp
  src/software/pipeline/main_texturing.cpp
  src/software/utils/main_lightingEstimation.cpp
Labels: feature

#1743 Inverted flag check in intrinsics
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
Labels: bugfix

#1744 fix alembic I/O
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
Labels: bugfix

#1749 Fix Sonx RX0 II camera model
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb
