Repository alicevision/AliceVision, pull requests merged in 2024-03, with the labels that each got.

#1677 EXR STMaps use floating point precision
  src/software/export/main_exportAnimatedCamera.cpp
  src/software/export/main_exportDistortion.cpp
Labels: bugfix

#1678 [release] fix script to check dependencies
  src/cmake/check_dependencies_releases.py
Labels: bugfix

#1610 ApplyCalibration: Lens Calibration is done on Open Gate plates, but camera tracking could be done on cropped plates
  src/aliceVision/camera/Undistortion.hpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.hpp
  src/aliceVision/version.hpp
  src/software/utils/main_applyCalibration.cpp
Labels: feature

#1682 Fix coverage in cmake
  CMakeLists.txt
  src/CMakeLists.txt
  src/aliceVision/voctree/SimpleKmeans.hpp
  src/aliceVision/voctree/VocabularyTree.cpp
  src/cmake/CodeCoverage.cmake
  src/cmake/Helpers.cmake
Labels: scope:ci

#1680 [core] Separate Camera and Distortion Types in Model Naming
  pyTests/camera/test_equidistant.py
  pyTests/camera/test_undistortion_3de.py
  src/aliceVision/camera/Equidistant.cpp
  src/aliceVision/camera/Pinhole.cpp
  src/aliceVision/camera/Undistortion.hpp
  src/aliceVision/camera/Undistortion3DE.hpp
  src/aliceVision/camera/camera.hpp
  src/aliceVision/camera/cameraCommon.hpp
  src/aliceVision/fuseCut/DelaunayGraphCut_test.cpp
  src/aliceVision/localization/LocalizationResult.cpp
  src/aliceVision/localization/optimization.cpp
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/bundle/bundleAdjustment_Enhanced_test.cpp
  src/aliceVision/sfm/bundle/bundleAdjustment_test.cpp
  src/aliceVision/sfm/bundle/costfunctions/panoramaPinhole.hpp
  src/aliceVision/sfm/pipeline/global/globalSfM_test.cpp
  src/aliceVision/sfm/pipeline/panorama/panoramaSfM_equidistant_outliers_test.cpp
  src/aliceVision/sfm/pipeline/panorama/panoramaSfM_equidistant_test.cpp
  src/aliceVision/sfm/pipeline/panorama/panoramaSfM_radial3_outliers_test.cpp
  src/aliceVision/sfm/pipeline/panorama/panoramaSfM_radial3_test.cpp
  src/aliceVision/sfm/pipeline/sequential/sequentialSfM_test.cpp
  src/aliceVision/sfm/utils/alignment_test.cpp
  src/aliceVision/sfm/utils/syntheticScene.cpp
  src/aliceVision/sfm/utils/syntheticScene.hpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/aliceVision/sfmDataIO/AlembicImporter.cpp
  src/aliceVision/sfmDataIO/alembicIO_test.cpp
  src/aliceVision/sfmDataIO/colmap.cpp
  src/aliceVision/sfmDataIO/colmap.hpp
  src/aliceVision/sfmDataIO/colmap_test.cpp
  src/aliceVision/sfmDataIO/compatibilityData/scene_v1.2.8.abc
  src/aliceVision/sfmDataIO/compatibilityData/scene_v1.2.8.json
  src/aliceVision/sfmDataIO/gtIO.cpp
  src/aliceVision/sfmDataIO/jsonIO.cpp
  src/aliceVision/sfmDataIO/sceneSample.cpp
  src/aliceVision/sfmDataIO/sfmDataIO.hpp
  src/aliceVision/sfmDataIO/sfmDataIOCompatibility_test.cpp
  src/aliceVision/sfmDataIO/viewIO.cpp
  src/aliceVision/sfmDataIO/viewIO.hpp
  src/software/convert/main_importE57.cpp
  src/software/convert/main_importKnownPoses.cpp
  src/software/export/main_exportAnimatedCamera.cpp
  src/software/export/main_exportDistortion.cpp
  src/software/pipeline/main_cameraInit.cpp
  src/software/pipeline/main_distortionCalibration.cpp
  src/software/pipeline/main_panoramaInit.cpp
  src/software/pipeline/main_rigCalibration.cpp
  src/software/utils/main_applyCalibration.cpp
  src/software/utils/main_imageProcessing.cpp
  src/software/utils/main_sfmRegression.cpp
  src/software/utils/main_split360Images.cpp
Labels: feature

#1689 PLY loader to sfmdata landmarks
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/sfmDataIO/plyIO.cpp
  src/aliceVision/sfmDataIO/plyIO.hpp
  src/aliceVision/sfmDataIO/sfmDataIO.cpp
Labels: feature

#1687 Catch error codes thrown by `std::filesystem::exists`
  src/aliceVision/depthMap/NormalMapEstimator.cpp
  src/aliceVision/featureEngine/FeatureExtractor.cpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/PointCloud.cpp
  src/aliceVision/image/cache.cpp
  src/aliceVision/image/colorspace.cpp
  src/aliceVision/image/io.cpp
  src/aliceVision/keyframe/KeyframeSelector.cpp
  src/aliceVision/localization/CCTagLocalizer.cpp
  src/aliceVision/localization/VoctreeLocalizer.cpp
  src/aliceVision/matching/guidedMatching.cpp
  src/aliceVision/matching/guidedMatching.hpp
  src/aliceVision/matching/io.cpp
  src/aliceVision/matchingImageCollection/GeometricFilterMatrix_HGrowing.hpp
  src/aliceVision/mesh/Mesh.cpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/aliceVision/mvsUtils/mapIO.cpp
  src/aliceVision/photometricStereo/photometricDataIO.cpp
  src/aliceVision/photometricStereo/photometricStereo.cpp
  src/aliceVision/sensorDB/parseDatabase.cpp
  src/aliceVision/sfm/LocalBundleAdjustmentGraph.cpp
  src/aliceVision/sfm/pipeline/regionsIO.cpp
  src/aliceVision/sfm/pipeline/sequential/ReconstructionEngine_sequentialSfM.cpp
  src/aliceVision/sfmData/SfMData.cpp
  src/aliceVision/track/tracksUtils.cpp
  src/aliceVision/track/tracksUtils.hpp
  src/aliceVision/utils/filesIO.hpp
  src/aliceVision/voctree/descriptorLoader.cpp
  src/software/convert/main_convertMesh.cpp
  src/software/export/main_exportAnimatedCamera.cpp
  src/software/export/main_exportColmap.cpp
  src/software/export/main_exportMVE2.cpp
  src/software/export/main_exportMVSTexturing.cpp
  src/software/export/main_exportMatlab.cpp
  src/software/export/main_exportMeshlab.cpp
  src/software/export/main_exportPMVS.cpp
  src/software/export/main_exportUSD.cpp
  src/software/pipeline/main_cameraInit.cpp
  src/software/pipeline/main_cameraLocalization.cpp
  src/software/pipeline/main_featureExtraction.cpp
  src/software/pipeline/main_globalSfM.cpp
  src/software/pipeline/main_imageMasking.cpp
  src/software/pipeline/main_imageMatching.cpp
  src/software/pipeline/main_incrementalSfM.cpp
  src/software/pipeline/main_meshMasking.cpp
  src/software/pipeline/main_panoramaEstimation.cpp
  src/software/pipeline/main_prepareDenseScene.cpp
  src/software/pipeline/main_sfmTriangulation.cpp
  src/software/utils/main_colorCheckerCorrection.cpp
  src/software/utils/main_frustumFiltering.cpp
  src/software/utils/main_mergeMeshes.cpp
  src/software/utils/main_qualityEvaluation.cpp
  src/software/utils/main_sfmColorHarmonize.cpp
  src/software/utils/main_split360Images.cpp
  src/software/utils/main_voctreeQueryUtility.cpp
  src/software/utils/sfmColorHarmonize/colorHarmonizeEngineGlobal.cpp
  src/software/utils/sfmColorHarmonize/colorHarmonizeEngineGlobal.hpp
Labels: type:enhancement

#1686 ExportAnimatedCamera export alembic with complete cameras information
  src/aliceVision/camera/Pinhole.cpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
  src/aliceVision/sfmDataIO/AlembicExporter.hpp
  src/aliceVision/sfmDataIO/checkMayaProjection.py
Labels: bugfix

#1375 [cameraSensors] OMNIVISION uctronics and gophotonics
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1449 [cameraSensors] fix Samsung SM-G998B
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1676 [cameraSensors] Add DJI Mini 2 SE
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1697 [sfmData] fix relative to absolute path conversion for features/matches folders
  pyTests/sfmData/test_sfmdata.py
  src/aliceVision/sfm/LocalBundleAdjustmentGraph.cpp
  src/aliceVision/sfm/pipeline/regionsIO.cpp
  src/aliceVision/sfmData/SfMData.cpp
Labels: bugfix
