Repository alicevision/AliceVision, pull requests merged in 2024-02, with the labels that each got.

#1657 [build] Add `libe57format` as an internal dependency
  .github/workflows/continuous-integration.yml
  INSTALL.md
  docker/Dockerfile_centos_deps
  docker/Dockerfile_ubuntu_deps
  docker/build-centos.sh
  docker/build-ubuntu.sh
  src/CMakeLists.txt
  src/aliceVision/dataio/CMakeLists.txt
  src/cmake/Dependencies.cmake
Labels: scope:build, scope:ci

#1662 [build] Update the list of installed features for OpenImageIO with VCPKG
  .github/workflows/continuous-integration.yml
  INSTALL.md
Labels: scope:build

#1639 Add ASUS_I01WD (Asus ZenFone 6) to sensorDB
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1664 [build] Update Geogram to 1.8.8
  .github/workflows/continuous-integration.yml
  INSTALL.md
  docker/build-centos.sh
  docker/build-ubuntu.sh
  src/cmake/Dependencies.cmake
Labels: scope:build

#1355 Adding Google Pixel 6a to cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1366 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1373 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1649 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1665 Fairphone 5 cameraSensors.db fix
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1668 First Lidar Meshing Application
  src/aliceVision/fuseCut/CMakeLists.txt
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
  src/aliceVision/fuseCut/DelaunayGraphCut_test.cpp
  src/aliceVision/fuseCut/LargeScale.cpp
  src/aliceVision/fuseCut/LargeScale.hpp
  src/aliceVision/fuseCut/LargeScale_test.cpp
  src/aliceVision/fuseCut/MaxFlow_CSR.cpp
  src/aliceVision/fuseCut/MaxFlow_CSR.hpp
  src/aliceVision/fuseCut/OctreeTracks.cpp
  src/aliceVision/fuseCut/OctreeTracks.hpp
  src/aliceVision/fuseCut/ReconstructionPlan.cpp
  src/aliceVision/fuseCut/ReconstructionPlan.hpp
  src/aliceVision/fuseCut/VoxelsGrid.cpp
  src/aliceVision/fuseCut/VoxelsGrid.hpp
  src/aliceVision/mvsUtils/MultiViewParams.cpp
  src/software/convert/main_importE57.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_lidarMeshing.cpp
  src/software/pipeline/main_meshing.cpp
Labels: majorFeature

#1672 Clean and rework meshing code
  src/aliceVision/fuseCut/BoundingBox.hpp
  src/aliceVision/fuseCut/CMakeLists.txt
  src/aliceVision/fuseCut/DelaunayGraphCut.cpp
  src/aliceVision/fuseCut/DelaunayGraphCut.hpp
  src/aliceVision/fuseCut/DelaunayGraphCut_test.cpp
  src/aliceVision/fuseCut/Fuser.cpp
  src/aliceVision/fuseCut/Fuser.hpp
  src/aliceVision/fuseCut/GraphFiller.cpp
  src/aliceVision/fuseCut/GraphFiller.hpp
  src/aliceVision/fuseCut/Intersections.cpp
  src/aliceVision/fuseCut/Intersections.hpp
  src/aliceVision/fuseCut/Kdtree.hpp
  src/aliceVision/fuseCut/Mesher.cpp
  src/aliceVision/fuseCut/Mesher.hpp
  src/aliceVision/fuseCut/Octree.hpp
  src/aliceVision/fuseCut/PointCloud.cpp
  src/aliceVision/fuseCut/PointCloud.hpp
  src/aliceVision/fuseCut/Tetrahedralization.cpp
  src/aliceVision/fuseCut/Tetrahedralization.hpp
  src/aliceVision/fuseCut/delaunayGraphCutTypes.hpp
  src/aliceVision/mvsUtils/common.cpp
  src/software/pipeline/main_lidarMeshing.cpp
  src/software/pipeline/main_meshing.cpp
Labels: type:enhancement
