Repository alicevision/AliceVision, pull requests merged in 2024-10, with the labels that each got.

#1754 [ci] Windows: Add appropriate flags to compile with CUDA < 12.1
  .github/workflows/continuous-integration.yml
  INSTALL.md
  docker/Dockerfile_centos
  docker/Dockerfile_ubuntu
  src/cmake/Dependencies.cmake
Labels: scope:ci

#1758 Fix applyCalibration logic for isDesqueezed
  src/software/utils/main_applyCalibration.cpp
Labels: bugfix

#1761 [build] Fix some C++17 incompabilities
  src/aliceVision/prettyprint.hpp
Labels: scope:build

#1766 [build] Update SWIG version to 4.3.0
  .github/workflows/continuous-integration.yml
  docker/Dockerfile_centos
  docker/Dockerfile_ubuntu
  docker/build-centos.sh
  docker/build-ubuntu.sh
  src/cmake/Dependencies.cmake
Labels: scope:build

#1768 remove sfmBootstraping bug
  src/aliceVision/sfm/pipeline/expanding/ExpansionChunk.cpp
  src/software/pipeline/main_sfmBootstraping.cpp
Labels: bugfix
