Repository alicevision/AliceVision, pull requests merged in 2025-05, with the labels that each got.

#1861 Add numpy to python bindings
  pyTests/geometry/__init__.py
  pyTests/geometry/test_pose3.py
  src/aliceVision/geometry/Geometry.i
  src/aliceVision/geometry/lie.i
  src/aliceVision/numeric/eigen.i
  src/aliceVision/numeric/numeric.i
  src/aliceVision/numeric/numpy.i
Labels: feature

#1868 [track] Use `std::map` instead of ` std::unordered_map` to represent Tracks
  src/aliceVision/track/Track.hpp
  src/aliceVision/track/track.i
  src/aliceVision/track/trackIO.cpp
  src/aliceVision/track/trackIO.hpp
  src/software/pipeline/main_nodalSfM.cpp
Labels: scope:test, scope:ci, bugfix

#1869 Update SWIG code to remove errors
  pyTests/camera/test_equidistant.py
  pyTests/camera/test_pinhole.py
  pyTests/camera/test_undistortion_3de.py
  pyTests/camera/test_undistortion_radial.py
  src/aliceVision/camera/Camera.i
  src/aliceVision/numeric/numeric.i
  src/aliceVision/track/track.i
Labels: scope:build, scope:test, bugfix

#1871 [image] Remove `static` keyword from `isSupported` and `getSupportedExtensions`
  src/aliceVision/image/io.cpp
Labels: bugfix
