Repository alicevision/AliceVision, pull requests merged in 2025-09, with the labels that each got.

#1914 Add Arducam Cameras to cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1956 Temporal filtering of the camera poses
  meshroom/aliceVision/AddPoseNoise.py
  meshroom/aliceVision/SampleScene.py
  meshroom/aliceVision/SfMTemporalFiltering.py
  src/aliceVision/geometry/lie.hpp
  src/aliceVision/geometry/lie_test.cpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/utils/poseFilter.cpp
  src/aliceVision/sfm/utils/poseFilter.hpp
  src/aliceVision/sfm/utils/poseFilter_test.cpp
  src/aliceVision/sfm/utils/poseNoise.cpp
  src/aliceVision/sfm/utils/poseNoise.hpp
  src/aliceVision/sfmDataIO/sceneSample.cpp
  src/aliceVision/sfmDataIO/sceneSample.hpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_sfmTemporalFiltering.cpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_addPoseNoise.cpp
  src/software/utils/main_generateSampleScene.cpp
Labels: feature

#1971 Update oiioParams binding
  pyTests/image/test_imageIO.py
  src/aliceVision/image/image.i
Labels: feature

#1979 [FIX] Explicitly set CMAKE_INSTALL_PREFIX for OpenColorIO
  src/cmake/Dependencies.cmake
Labels: scope:build, dependencies

#1989 Fix sfmTransform frame
  src/software/utils/main_sfmTransform.cpp
Labels: bugfix
