Repository alicevision/AliceVision, pull requests merged in 2025-01, with the labels that each got.

#1797 [docker] Fix export of `ALICEVISION_*` environment variables
  docker/Dockerfile_rocky_deps
  docker/Dockerfile_ubuntu_deps
Labels: docker

#1802 [cmake] Update download link for Boost 1.84.0
  src/cmake/Dependencies.cmake
Labels: scope:build

#1764 Update cameraSensors.db with Pixel 8 and Pixel 8 Pro
  src/aliceVision/sensorDB/cameraSensors.db
Labels: ready, sensordb

#1803 Use lidar as constraints in sfm
  src/aliceVision/keyframe/KeyframeSelector.cpp
  src/aliceVision/mesh/MeshIntersection.cpp
  src/aliceVision/mesh/MeshIntersection.hpp
  src/aliceVision/sfm/CMakeLists.txt
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.hpp
  src/aliceVision/sfm/bundle/costfunctions/constraintPoint.hpp
  src/aliceVision/sfm/pipeline/bootstrapping/Bootstrap.cpp
  src/aliceVision/sfm/pipeline/bootstrapping/Bootstrap.hpp
  src/aliceVision/sfm/pipeline/bootstrapping/EstimateAngle.cpp
  src/aliceVision/sfm/pipeline/bootstrapping/EstimateAngle.hpp
  src/aliceVision/sfm/pipeline/bootstrapping/PairsScoring.cpp
  src/aliceVision/sfm/pipeline/bootstrapping/PairsScoring.hpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionChunk.cpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionChunk.hpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionIteration.cpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionPolicy.hpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionPolicyLegacy.cpp
  src/aliceVision/sfm/pipeline/expanding/ExpansionPolicyLegacy.hpp
  src/aliceVision/sfm/pipeline/expanding/PointFetcher.hpp
  src/aliceVision/sfm/pipeline/expanding/SfmBundle.cpp
  src/aliceVision/sfm/pipeline/expanding/SfmBundle.hpp
  src/aliceVision/sfm/pipeline/expanding/SfmResection.cpp
  src/aliceVision/sfm/pipeline/expanding/SfmResection.hpp
  src/aliceVision/sfm/pipeline/relativePoses.hpp
  src/aliceVision/sfm/sfmFilters.cpp
  src/aliceVision/sfm/sfmFilters.hpp
  src/aliceVision/sfmData/CMakeLists.txt
  src/aliceVision/sfmData/ConstraintPoint.hpp
  src/aliceVision/sfmData/ConstraintPoint.i
  src/aliceVision/sfmData/SfMData.hpp
  src/aliceVision/sfmData/SfMData.i
  src/software/export/main_exportMatches.cpp
  src/software/pipeline/CMakeLists.txt
  src/software/pipeline/main_relativePoseEstimating.cpp
  src/software/pipeline/main_sfmBootstraping.cpp
  src/software/pipeline/main_sfmExpanding.cpp
  src/software/utils/main_depthMapRendering.cpp
  src/software/utils/main_normalMapRendering.cpp
  src/software/utils/main_sfmPoseInjecting.cpp
  src/software/utils/main_sfmTransform.cpp
Labels: feature

#1808 Add standard include for fstream
  src/software/convert/main_importKnownPoses.cpp
  src/software/pipeline/main_globalRotationEstimating.cpp
  src/software/pipeline/main_nodalSfM.cpp
  src/software/pipeline/main_sfmBootstraping.cpp
  src/software/utils/main_rigTransform.cpp
  src/software/utils/main_sfmPoseInjecting.cpp
Labels: bugfix

#1807 Enable merging of multiple sfms
  src/software/utils/main_sfmMerge.cpp
Labels: feature
