Repository alicevision/AliceVision, pull requests merged in 2025-03, with the labels that each got.

#1837 [ci] Windows: Only install necessary components from the CUDA Toolkit
  .github/workflows/continuous-integration.yml
  src/aliceVision/depthMap/CMakeLists.txt
  src/software/utils/CMakeLists.txt
Labels: scope:ci

#1838 [ci] Windows: Update vcpkg archive with latest dependencies versions
  .github/workflows/continuous-integration.yml
Labels: scope:build

#1840 [ci] Windows: Update vcpkg archive with SWIG support
  .github/workflows/continuous-integration.yml
  INSTALL.md
  README.md
Labels: scope:ci

#1661 [build] SwigBinding: Add support for the Python binding with SWIG on Windows
  .github/workflows/continuous-integration.yml
  CMakeLists.txt
  pyTests/sfmData/test_sfmdata.py
  src/CMakeLists.txt
  src/aliceVision/CMakeLists.txt
  src/aliceVision/camera/CMakeLists.txt
  src/aliceVision/geometry/CMakeLists.txt
  src/aliceVision/global.i
  src/aliceVision/hdr/CMakeLists.txt
  src/aliceVision/numeric/CMakeLists.txt
  src/aliceVision/sensorDB/CMakeLists.txt
  src/aliceVision/sfmData/CMakeLists.txt
  src/aliceVision/sfmData/Landmark.hpp
  src/aliceVision/sfmData/Observation.hpp
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/stl/CMakeLists.txt
  src/cmake/Helpers.cmake
  src/cmake/MakeBundle.cmake
Labels: feature, windows

#1847 [ci] Update the path to the segmentation nodes for Meshroom in the CI
  .github/workflows/continuous-integration.yml
Labels: scope:ci

#1848 New tool to import external Alembic files with an animated camera
  meshroom/aliceVision/ImportAlembic.py
  src/aliceVision/sfmDataIO/CMakeLists.txt
  src/aliceVision/sfmDataIO/ExternalAlembicImporter.cpp
  src/aliceVision/sfmDataIO/ExternalAlembicImporter.hpp
  src/software/utils/CMakeLists.txt
  src/software/utils/main_importAlembic.cpp
Labels: feature

#1854 Update minimal required CMake version to 3.5 for all modules
  src/dependencies/MeshSDFilter/CMakeLists.txt
  src/dependencies/vectorGraphics/CMakeLists.txt
  src/software/utils/aliceVisionAs3rdParty/CMakeLists.txt
Labels: scope:build, bugfix
