Repository alicevision/AliceVision, pull requests merged in 2025-06, with the labels that each got.

#1872 [fix] Remove invalid default value in ldr2hdrCalibration
  meshroom/aliceVision/LdrToHdrCalibration.py
Labels: bugfix

#1873 [Dependencies] Adapt code to new eigen
  src/aliceVision/feature/imageDescriberCommon.cpp
  src/aliceVision/matching/supportEstimation.cpp
  src/aliceVision/matchingImageCollection/ImagePairListIO.hpp
  src/aliceVision/sfm/bundle/BundleAdjustment.hpp
  src/aliceVision/types.hpp
Labels: dependencies, bugfix

#1891 Fix bug in sfmMerge
  src/software/utils/main_sfmMerge.cpp
Labels: bugfix

#1892 [mesh] Fix mesh appearing whitened in 3D viewer
  src/aliceVision/mesh/Material.hpp
  src/aliceVision/mesh/Texturing.cpp
Labels: bugfix

#1890 [MVS] meshPostProcessing: bugfix in the cleanup of removed free points
  src/aliceVision/mesh/meshPostProcessing.cpp
Labels: scope:mvs, bugfix

#1688 [sfm] statistics: fix statistics to avoid troubles in particular cases
  src/aliceVision/sfm/sfmStatistics.cpp
Labels: bugfix

#1898 SwigBinding: Add Python binding for `matchingImageCollection` IO functions
  pyTests/matchingImageCollection/__init__.py
  pyTests/matchingImageCollection/test_IO.py
  src/aliceVision/matchingImageCollection/CMakeLists.txt
  src/aliceVision/matchingImageCollection/matchingImageCollection.i
Labels: feature
