Repository alicevision/AliceVision, pull requests merged in 2025-08, with the labels that each got.

#1935 [doc] Update `INSTALL.md`
  INSTALL.md
Labels: scope:doc

#1943 [pipeline] New pipeline for object reconstruction from a turntable
  meshroom/photogrammetryObjectTurntable.mg
Labels: majorFeature

#1948 Release 3.3.0
  CHANGES.md
  CONTRIBUTORS.md
  RELEASING.md
  meshroom/cameraTracking.mg
  meshroom/cameraTrackingExperimental.mg
  meshroom/cameraTrackingWithoutCalibration.mg
  meshroom/cameraTrackingWithoutCalibrationExperimental.mg
  meshroom/colorCalibration.mg
  meshroom/distortionCalibration.mg
  meshroom/hdrFusion.mg
  meshroom/lidarMeshing.mg
  meshroom/multi-viewPhotometricStereo.mg
  meshroom/nodalCameraTracking.mg
  meshroom/nodalCameraTrackingWithoutCalibration.mg
  meshroom/panoramaFisheyeHdr.mg
  meshroom/panoramaHdr.mg
  meshroom/photogrammetry.mg
  meshroom/photogrammetryAndCameraTracking.mg
  meshroom/photogrammetryAndCameraTrackingExperimental.mg
  meshroom/photogrammetryDraft.mg
  meshroom/photogrammetryExperimental.mg
  meshroom/photogrammetryObject.mg
  meshroom/photogrammetryObjectTurntable.mg
  meshroom/photogrammetryObjectTwoSides.mg
  meshroom/photometricStereo.mg
  meshroom/rawImageConversion.mg
  src/aliceVision/version.hpp
Labels: release

#1957 [vcpkg] Use manifest mode for dependencies
  .github/workflows/continuous-integration.yml
  .gitignore
  INSTALL.md
  requirements.txt
  vcpkg-configuration.json
  vcpkg.json
  vcpkg/overlay_ports/cctag/portfile.cmake
  vcpkg/overlay_ports/cctag/vcpkg.json
  vcpkg/overlay_ports/liblemon/cpp-20-adaptors.patch
  vcpkg/overlay_ports/liblemon/cpp-20-arraymap.patch
  vcpkg/overlay_ports/liblemon/fix-cmake-version.patch
  vcpkg/overlay_ports/liblemon/fix-cmake.patch
  vcpkg/overlay_ports/liblemon/portfile.cmake
  vcpkg/overlay_ports/liblemon/vcpkg.json
  vcpkg/overlay_ports/opencv4/0001-disable-downloading.patch
  vcpkg/overlay_ports/opencv4/0002-install-options.patch
  vcpkg/overlay_ports/opencv4/0003-force-package-requirements.patch
  vcpkg/overlay_ports/opencv4/0004-fix-eigen.patch
  vcpkg/overlay_ports/opencv4/0005-fix-policy-CMP0057.patch
  vcpkg/overlay_ports/opencv4/0006-fix-uwp.patch
  vcpkg/overlay_ports/opencv4/0007-contrib-fix-hdf5.patch
  vcpkg/overlay_ports/opencv4/0008-devendor-quirc.patch
  vcpkg/overlay_ports/opencv4/0009-fix-protobuf.patch
  vcpkg/overlay_ports/opencv4/0010-fix-uwp-tiff-imgcodecs.patch
  vcpkg/overlay_ports/opencv4/0011-remove-python2.patch
  vcpkg/overlay_ports/opencv4/0012-miss-openexr.patch
  vcpkg/overlay_ports/opencv4/0013-contrib-fix-ogre.patch
  vcpkg/overlay_ports/opencv4/0014-fix-cmake-in-list.patch
  vcpkg/overlay_ports/opencv4/0015-fix-freetype.patch
  vcpkg/overlay_ports/opencv4/0016-contrib-fix-freetype.patch
  vcpkg/overlay_ports/opencv4/0017-fix-flatbuffers.patch
  vcpkg/overlay_ports/opencv4/0018-contrib-fix-tesseract.patch
  vcpkg/overlay_ports/opencv4/0019-opencl-kernel.patch
  vcpkg/overlay_ports/opencv4/0020-fix-narrow-filesystem.diff
  vcpkg/overlay_ports/opencv4/0021-fix-qt-gen-def.patch
  vcpkg/overlay_ports/opencv4/0022-fix-cuda-version.patch
  vcpkg/overlay_ports/opencv4/portfile.cmake
  vcpkg/overlay_ports/opencv4/usage.in
  vcpkg/overlay_ports/opencv4/vcpkg.json
  vcpkg/overlay_ports/popsift/portfile.cmake
  vcpkg/overlay_ports/popsift/vcpkg.json
  vcpkg/ports/vcpkg-tool-swig/portfile.cmake
  vcpkg/ports/vcpkg-tool-swig/vcpkg.json
  vcpkg/versions/baseline.json
  vcpkg/versions/v-/vcpkg-tool-swig.json
Labels: scope:build

#1960 [vcpkg] liblemon: Fix patch to apply
  vcpkg/overlay_ports/liblemon/fix-cmake-version.patch
Labels: bugfix
