Repository alicevision/AliceVision, pull requests merged in 2025-07, with the labels that each got.

#1902 [pipeline] Adding missing link in photogrammetry pipeline
  meshroom/photogrammetryExperimental.mg
Labels: bugfix

#1901 Update python test with oiio metadata writing
  pyTests/image/test_imageIO.py
Labels: scope:test

#1904 [Fix] Initialize resectionid depending on previous sfm
  src/aliceVision/sfm/pipeline/expanding/ExpansionHistory.cpp
  src/software/pipeline/main_sfmExpanding.cpp
Labels: bugfix

#1906 [docker] rocky: update gxx and enable cctag
  .dockerignore
  .github/workflows/continuous-integration.yml
  docker/Dockerfile_rocky_deps
  docker/build-rocky.sh
  docker/build-ubuntu.sh
  src/cmake/Dependencies.cmake
Labels: scope:build

#1917 Update json utility functions
  src/aliceVision/dataio/json.cpp
  src/aliceVision/dataio/json.hpp
  src/aliceVision/track/trackIO.cpp
  src/aliceVision/track/trackIO.hpp
  src/software/pipeline/main_nodalSfM.cpp
Labels: bugfix

#1921 Remove error or warning for some compilers
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.cpp
  src/aliceVision/sfm/bundle/BundleAdjustmentCeres.hpp
Labels: bugfix

#1924 Fix nodal pipeline including scenePreview crash
  meshroom/blender/scripts/preview.py
  meshroom/nodalCameraTracking.mg
  meshroom/nodalCameraTrackingWithoutCalibration.mg
  src/aliceVision/dataio/json.cpp
  src/aliceVision/sfmDataIO/AlembicExporter.cpp
Labels: bugfix
