Repository alicevision/AliceVision, pull requests merged in 2025-04, with the labels that each got.

#1846 Update cameraSensors.db
  src/aliceVision/sensorDB/cameraSensors.db
Labels: sensordb

#1855 [src] Fix dependencies depending on build options
  src/CMakeLists.txt
  src/aliceVision/CMakeLists.txt
  src/software/convert/CMakeLists.txt
  src/software/pipeline/CMakeLists.txt
  src/software/utils/CMakeLists.txt
Labels: scope:build, bugfix

#1856 Add masks to export images
  meshroom/aliceVision/ExportImages.py
  src/software/utils/main_exportImages.cpp
Labels: feature
